[2015-01-13 17:01] FroMage commented on #1506
https://github.com/git/git/blob/fbecd99861ea5795aeba46faf2ac7a8c1b70d485/pager.c for info

[2015-01-13 17:07] quintesse commented on #1506
I'm not sure I understand, so who would do the paging?

[2015-01-13 17:13] FroMage commented on #1506
`less`, but it's started from Java where we already know how to parse the `--help` flag.

[2015-01-13 18:23] quintesse commented on #1506
Ah ok, so you start the pager from within the program and then pipe the output to it. Sounds easy enough. And like they do in the git helper, look at `CEYLON_PAGER` first, then at the default Linux (Unix?) `PAGER` and finally using `less`. And maybe some option to disable paging? (So you won't have to do `PAGER=cat ceylon foo --help`)

[2015-01-14 09:45] tombentley commented on #1996
I've made this change.

[2015-01-14 09:46] tombentley commented on #1979
@sgalles, @lucaswerkmeister this should now be fixed

[2015-01-14 09:46] #1979 closed

[2015-01-14 09:49] tombentley commented on #1560
Following my change for #1996 this seems to be the only remaining place where we're sometimes using boxed instance methods where we could be using value methods (or better). I say "or better" because we know at compile time that something like `2=='c'` must be false. Do we want to optimize `==` that aggressively?

[2015-01-14 09:53] quintesse commented on #1560
Personally I don't think it's necessary

[2015-01-14 10:04] #1994 closed

[2015-01-14 10:10] tombentley commented on #1994
Thanks @sgalles for reporting.

[2015-01-14 10:12] tombentley commented on #1993
It's likely that my fix for #1994 has fixed this bug. I'd be grateful if someone who's been able to reproduce this bug could try it out and let me know if they can still reproduce it. Thanks.

[2015-01-14 10:15] lucaswerkmeister commented on #1979
Works here, thanks!

[2015-01-14 10:36] #1995 closed

[2015-01-14 10:37] tombentley commented on #1995
Thanks @sgalles

[2015-01-14 10:47] tombentley commented on #1967
Presumably fixed by the fix for #1992

[2015-01-14 10:47] #1967 closed

[2015-01-14 11:08] tombentley commented on #1947
`$ceylontmp$hash$1 ^ $ceylontmp$hash$1 >>> 32` is the same thing that `java.lang.Long.hashCode()` does and it has the advantage that it's simple and fast. If we tinker about to reduce the potential for surprise that's a cost which every hash has to carry. Hashes are already a source for confusion because (presumably) they can differ between platforms. So I'm inclined to think that some suitable do

[2015-01-14 11:12] FroMage commented on #1947
I agree we should just document this.

[2015-01-14 12:01] gavinking commented on #1967
OK thanks:

[2015-01-14 12:12] tombentley commented on #1962
Done. Might be of interest to @jvasileff

[2015-01-14 12:12] #1962 closed

[2015-01-14 12:24] #1977 closed

[2015-01-14 12:26] tombentley commented on #1977
Thanks for reporting @jvasileff

[2015-01-14 12:37] tombentley commented on #1965
@lahwran I'm also unable to reproduce with the compiler on master. Are you able to use a more recent compiler than 1.1.0 to confirm this bug no longer exists?

@lucaswerkmeister thanks for your `sed`.

[2015-01-14 12:53] gavinking commented on #1962
Thanks

[2015-01-14 13:03] tombentley opened #1999 "Optimize boxing of then ... else ..."
Something like

   value z = 1==1 then 2 else 3;

will currently create a box for either the `then` or the `else` value and then immediately unbox it. We should eliminate such pointless boxing. Obviously if the `then` and `else` clauses have different types then the boxes are required.

Vaguely related to #1952

[2015-01-14 13:44] tombentley commented on #1952
@gavinking the type of `if (true) then false else true` is `false|true`, apparently. Is that intentional, or should it be `Boolean`?

[2015-01-14 14:05] gavinking commented on #1952
@tombentley That's intentional, since we want the following to work:

[code]

[2015-01-14 14:11] tombentley commented on #1952
Because of ceylon/ceylon-spec#865 you mean? But I thought that was on an as-yet unmerged branch?

[2015-01-14 14:30] #1952 closed

[2015-01-14 15:19] gavinking commented on #1952
Thanks mate!

[2015-01-14 15:20] #1999 closed

[2015-01-14 15:53] FroMage opened #2000 "Ceylon config help section lacks examples and documentation of config sections/values"
`ceylon config --help` lacks the equivalent in docs that `git config --help` gives, which is list syntax, config files locations, predefined sections and keys, and examples like we have on http://ceylon-lang.org/documentation/1.1/reference/tool/config/

I think options should be documented there so people can figure them out without starting a browser.

[2015-01-14 17:00] FroMage commented on #1506
Done and pushed. Please try it out, especially on Windows :)

[2015-01-14 17:06] tombentley commented on #1560
I basically agree but in such cases we have to box the RHS in order to use even the value method, so the cost is higher than you might think.

[2015-01-14 19:32] quintesse commented on #1560
Box the RHS? Why? But if you're right then it's another thing of course :) then I'd optimize it.

[2015-01-14 19:37] tombentley commented on #1560
Because on Integer, for example, although we have `equals(int, Object)` we
don't have `equals(int, char)`. We could add those of course, but that's a
bit silly, in my opinion.
On 14 Jan 2015 19:32, "Tako Schotanus" <notifications@github.com> wrote:

[2015-01-14 19:44] quintesse commented on #1560
Ah ok, of course, `equals()` has `Object` as argument. Having specialized versions isn't *that* bad an idea, but I wouldn't make it specific to equals, so that's for the future perhaps (and the idea I have wouldn't work in this case anyway). So in the mean time we could do this. (low prio)

[2015-01-14 20:11] quintesse commented on #1506
I think you forgot to push `ceylon-js`, but I fixed it already.

[2015-01-14 22:24] quintesse commented on #1506
Works great on Linux, but on Windows it doesn't show anything at all (unless I add the `--no-pager` flag).

[2015-01-14 22:32] quintesse commented on #1506
Works fine on Linux but doesn't work on Windows, neither in Git Bash (which simulates a unix-like environment) nor in the standard Windows command line. First because `less` doesn't exist in Windows but even when changing it to `more` it doesn't work and I guess this is because `more` is part of the Windows command "shell", so it's not a program that can be started.

[2015-01-14 23:17] sgalles commented on #1993
@tombentley Indeed, I can't reproduce now (with the JVM compilation activated ;)  )
So, I guess it can be closed now.

[2015-01-14 23:52] jvasileff commented on #1993
ditto; looks good!

[2015-01-15 01:50] gavinking commented on #1560
We do optimize this, right?

[code]

[2015-01-15 09:17] tombentley commented on #1993
Closing then. Thanks @sgalles and @jvasileff .

[2015-01-15 09:17] #1993 closed

[2015-01-15 09:37] tombentley commented on #1560
Yes @gavinking that one is completely unboxed using jvm `==` (it becomes fully boxed if we don't know the RHS type is `Integer`, we should be using the value method in that case).

[2015-01-15 10:11] gavinking commented on #1560
Good, what I figured.

[2015-01-15 10:20] FroMage commented on #1506
Damn, sorry about the missing push of `ceylon-js`.

[2015-01-15 10:22] FroMage commented on #1506
So, I tried to figure out what git does on Windows but it's not clear. Apparelty on Windows they have two strategies: one for using `sh -c` and the other using _native windows_ calls like `mingw_spawnvpe`. Can we really start a Windows command shell with `sh -c` on Windows?

[2015-01-15 10:25] FroMage commented on #1506
Wow, reading back C files I can say I'm glad I didn't write C code in the last seven years, that stuff is nuts.

[2015-01-15 10:51] quintesse commented on #1506
No, to me that sounds that they only take into account unix-like environments like MinGW.

Better yet, I just tested Git on Windows and it doesn't do paging at all... it... spawns an HTML page in a browser!

[2015-01-15 10:51] FroMage commented on #1506
Of course, my Windows drive is dead so I can't test any of this shit anymore :(

[2015-01-15 10:52] FroMage commented on #1506
Well, no idea then. I haven't found the code that does this in git.

[2015-01-15 10:55] #1971 closed

[2015-01-15 11:01] quintesse commented on #1506
Well we do generate HTML docs for the distribution so we could go Git's way and spawn a browser and just forget about paging on Windows.

[2015-01-15 11:03] quintesse commented on #1506
And using `--no-pager` could still give us the current behaviour, in case someone want to, I don't know, pipe the help text somewhere.

[2015-01-15 11:07] quintesse commented on #1506
Btw, Git only seems to do this for *some* commands though. `git help checkout` shows the HTML page for `checkout`, but `git help` shows the list of all Git commands in the console (unpaged).

[2015-01-15 11:09] quintesse commented on #1506
Also, on Windows the `-paginate` and `--no-pager` options are completely ignored. You can't set a different pager and you can't disable paging.

[2015-01-15 13:33] thradec commented on #1872
It's doable, but is it useful? It duplicate basic functionality of each browser.

[2015-01-15 13:42] tombentley commented on #1984
What I think is happening here is:

* the synthetic `Variable` for the `switch(e)` is being marked as unboxed,
* however we don't actually generate Java variable in this case, so there's no (unboxed) substitution
* so we generate code where (effectively) the original declaration of `e` is visible, and because that's in a comprehension that's boxed
* so when we get to transform the expression `else

[2015-01-15 13:46] #1984 closed

[2015-01-15 13:51] FroMage commented on #1872
Well, yes and no. The browser will have a separate page for history. And if you do `package` -> `Foo` -> Back -> `Bar` -> Back -> `Gee` you will not have anything interesting in your back button menu. This list would be limited to say the last 5 types or packages and be available on every page, perhaps in a floating box? We should check what other API doc tools do.

[2015-01-15 13:54] FroMage commented on #1506
I just don't see it. Apparently they have different code paths for Windows and for Cygwin, but both would call `sh -c more`. I don't see where this browser behaviour is coming from.

[2015-01-15 14:03] FroMage commented on #1506
I don't find anything about piping to the browser in the code for git, so I don't know how they do it. I'm tempted to just disable paging by default on Windows. Also I can't test because my Windows drive is dead.

[2015-01-15 14:06] quintesse commented on #1506
They don't pipe (I don't even think that's possible with browsers), they just start the browser pointing to the local HTML doc page : `file:///C:/Program%20Files%20(x86)/Git/doc/git/html/git-checkout.html`

[2015-01-15 14:08] FroMage commented on #1506
OK but I don't even know how to start a browser.

[2015-01-15 14:09] #1986 closed

[2015-01-15 14:16] quintesse commented on #1506
You can just "execute" the link and Windows will open the default browser for you. But the thing is how to get the URL?

[2015-01-15 14:42] FroMage commented on #1506
Seriously? Just execute a link?

[2015-01-15 14:46] quintesse commented on #1506
Yes, although maybe better to use `start`, eg `start file:///C:/Program%20Files%20(x86)/Git/doc/git/html/git-checkout.html` , that would probably work both in a regular CMD box and in a Cygwin shell.

[2015-01-15 14:59] FroMage commented on #1982
OK this is scary because the code is good, but the bytecode is not good. The whole first `let` is missing in the bytecode.

[2015-01-15 15:03] tombentley commented on #1941
@gavinking if my toplevel `object` itself has a member `object` then at the `import` site:

    import pkg{toplevel{inner}}

I get a typechecker error about an ambiguous member declaration 'inner' of 'toplevel'.

[2015-01-15 15:50] #1982 closed

[2015-01-15 15:50] FroMage commented on #1982
Fixed, for once it was not crazy hard ;)

[2015-01-15 15:57] gavinking commented on #1941
Would you please open an issue; I at least need to improve the error message.

[2015-01-15 20:56] sgalles commented on #1982
@FroMage Yeah, I'm trying to improve the `Criticity\PITA` ratio of my issues.
Almost there. This one was *just* scary ;)

[2015-01-16 09:27] tombentley commented on #1941
@gavinking Suppose I can have

class Ctor {
    shared new Ctor {}
}

which I then import

    import pkg{Ctor{X=Ctor}};
    void f() {
        X();
    }

then I'm finding that the BTE's target (a `ProducedType` whose declaration is a `Constructor`) has a null `qualifyingType`. Previously the qualifying type of the type of a constructor has always been the type of the constructed class.

[2015-01-16 09:51] FroMage commented on #1506
I pushed a fix for Windows, can you try it please?

[2015-01-16 11:17] tombentley commented on #1968
I've just benchmarked `instanceof` with two alternatives. In the first I declare a local `fin` outside the loop (as above) and use `!=` in the loop condition. In the second I just invoke `finished_.get_()` each time the loop is tested.

On my desktop machine (other desktop stuff running) I ran each variation ten times with a Java 7 Hotspot in `-server` mode . For me, on average, `instanceof` perfo

[2015-01-16 11:41] quintesse commented on #1506
Fixed NPE and added a fall-back to the console if the docs weren't found. Works perfectly now!

[2015-01-16 11:58] tombentley commented on #1941
I've implemented support for imports from top level objects. There may be some bugs remaining because in a number of places the code generator was making assumptions based on the `Base`-ness of the `Tree` which no longer apply.

Constructors still to do.

[2015-01-16 12:18] quintesse commented on #1968
Well seeing you did quite a bit of testing I'd say we leave it like this for now. That it runs slower when unJITted doesn't seem like a good enough reason to make this change.

[2015-01-16 12:45] gavinking commented on #1968
I also did quite a bit of testing, and I saw different results on Mac.

Sent from my iPhone

[2015-01-16 12:48] tombentley commented on #1968
@gavinking do you remember (or can you find out) how *much* faster `!=` was for you?

[2015-01-16 13:05] FroMage commented on #1506
OK, so we can close this?

[2015-01-16 13:13] gavinking commented on #1968
It was not a huge difference.

Sent from my iPhone

[2015-01-16 13:52] quintesse commented on #1506
Yup

[2015-01-16 13:52] #1506 closed

[2015-01-16 13:55] FroMage commented on #1506
Thanks

[2015-01-16 14:40] FroMage commented on #1975
This is due to the fact that the model loader for the compiler will not load private members but the loader for ceylondoc will (as will the metamodel one).

[2015-01-16 15:16] #1921 closed

[2015-01-16 15:19] tombentley commented on #1921
This should be fixed, but because the java operators widen compatible primitive operands it's possible there are still places lurking which I've not found (e.g. where the compiler uses a JVM operator which doesn't come directly from a Ceylon operator, but is being used implicitly) .

[2015-01-16 15:23] FroMage commented on #1975
Well, it also has to do with the fact that the type of the `compare` member is wrong in the reflection model loader.

[2015-01-16 15:34] #1944 closed

[2015-01-16 15:34] FroMage commented on #1975
No, it's just wrong for every model loader if the functional parameter is shared apparently, because we generate the following method:

[code]

And this is the wrong `@TypeInfo` for that method.

[2015-01-16 15:43] FroMage commented on #1975
So I can fix this in new code, but the old code from < 1.1.1 will have invalid signatures, including the collection module. I _guess_ we could somehow fix this in the model loader if we bump the binary compat number (to be able to differentiate 1.1 and 1.1.1 (or whatever we end up calling this release), but that means we're starting to have code paths which accept older versions for BC.

[2015-01-16 15:45] FroMage commented on #1975
Right now we haven't bumped binary version for 1.1.1.

[2015-01-16 15:45] gavinking commented on #1975
Well we would have those code paths _temporarily_. We can drop them once we break BC.

[2015-01-16 23:13] lucaswerkmeister opened #2001 "Incompatible type of nothing in switch expression with object cases"
[code]

[code]
  required: Comparison
  found:    Object

The error disappears if both cases evaluate to the same object (e. g. `case (1) smaller`); in that case, the compiler casts `nothing` to `smaller_`.

As always, [generated code](https://gist.github.com/lucaswerkmeister/6b22840f82126e9d9ca5), `@noanno`’ed.

[2015-01-17 19:24] jvasileff opened #2002 "Backend Error: Generics, Callable, Nothing satisfies Anything, missing Cast?"
This:

[code]

produces:

[code]

The generated code for `seqBuilder` does indeed return a callable with `…<? extends java.lang.Object>>`, yet `seqBuilder` expects the value for `tail` (also produced by a call to `seqBuilder` in this case) to have precise type information (i.e. `…<? extends ceylon.language.Integer>>`).

If `given Tail satisfies Anything` is commented out, the generated code includ

[2015-01-19 01:22] gavinking commented on #2002
Confirmed. Note that this code works perfectly on js. ;-)

[2015-01-19 11:28] tombentley commented on #2001
The problem here was that the type of the switch is these days `smaller|equal` (as a result of https://github.com/ceylon/ceylon-spec/issues/865) so I suppose I need to add a `denoteableType()` call somewhere.

My concern is that `denoteableType()` is going to see liberal use through the code generator as we see more of this sort of bug. I don't know whether there's a right or a wrong place to call

[2015-01-19 11:44] gavinking commented on #2001
We only reify them when they are type args, and according to the spec such types are never inferred.

Sent from my iPhone

[2015-01-19 11:48] tombentley commented on #2001
Right. So when constructing a reified type argument I need to ensure I'm not using a `denotableType()`-ed type. But otherwise I can use `denotableType()` freely.

So does that mean this bug is a typechecker bug?

[2015-01-19 11:57] gavinking commented on #2001
@tombentley read again what I just wrote :)

[2015-01-19 11:57] gavinking commented on #2001
Hint: there are no type args in the above code!

[2015-01-19 12:17] tombentley commented on #2001
I assume that means it's not a typechecker bug, and we can expect to find this `foo|bar` stuff everywhere except for stuff like `value` and implicit values like `for` variables.

[2015-01-19 12:17] #2001 closed

[2015-01-19 12:18] tombentley commented on #1996
This has been in master for a few days and no one has complained that I broke anything, so I'm going to close this.

[2015-01-19 12:18] #1996 closed

[2015-01-19 12:28] #1947 closed

[2015-01-19 12:44] gavinking commented on #2001
No, it's not a bug, and yes, the backend needs to be able to accommodate expressions with types like this.

[2015-01-19 14:04] tombentley commented on #1941
@gavinking is it a typechecker bug that the target's qualifying type is null (last comment-but-one)?

[2015-01-19 14:04] tombentley commented on #1941
@gavinking is it a typechecker bug that the target's qualifying type is null (last comment-but-one)?

[2015-01-19 14:16] gavinking commented on #1941
Um. No, on the contrary, I think it's wrong if the constructor of a toplevel class has a _non-_null qualifying type!

[2015-01-19 14:20] tombentley commented on #1941
Well how then am I supposed to figure out the type of the instance that the constructor will instantiate?

[2015-01-19 14:24] gavinking commented on #1941
It's the immediate supertype of the constructor type.

[2015-01-19 14:27] tombentley commented on #1941
Doh! Of course. Thanks

[2015-01-19 15:01] tombentley commented on #1941
Should be fixed.

[2015-01-19 15:01] #1941 closed

[2015-01-19 16:02] tombentley commented on #1991
@davidfestal I've fixed the specific case you mention of the synthetic `$param$N` parameter being assigned to the local variable and being attributed to a Ceylon source line.

I think you should open separate issues for other specific cases where you think we generate "bad" source line attribution.

I also just want to mention a perfectly good example of a "lines going backwards" case: Taking a re

[2015-01-20 10:32] #1923 closed

[2015-01-20 11:38] tombentley commented on #1898
Should be fixed.

[2015-01-20 11:38] #1898 closed

[2015-01-20 11:39] tombentley commented on #1898
Should be fixed.

[2015-01-20 13:50] FroMage opened #2003 "Compiler complains about missing java.lang module import for invalid reason"
[code]

I'm pretty sure we should not bitch for `java.lang.String` since in most cases we match it to `ceylon.language.String` (though not every case and it may be hard to detect the proper case), and I'm also pretty sure that `@Override` should just be OK. Perhaps there are other cases?

[2015-01-20 15:19] #1975 closed

[2015-01-20 15:21] FroMage commented on #1975
Fixed, but @chochos should note I've bumped the binary compat for the JS version too, so he will likely need to add code to make the 1.1.1 version also load the 1.1 version like I had to.

[2015-01-20 15:52] jvasileff commented on #1471
+1! The inability to annotate unnamed constructors, fields, and generated setters results in a workaround that leaves Ceylon classes looking like java beans!

Ceylon does seem like it will be particularly well suited for this:

[code]

[2015-01-20 15:55] jvasileff opened #2004 "Annotations on parameters of named constructors"
Java annotations work for parameters of unnamed constructors, but are missing in the generated code for named constructors:

[code]

Results in:

[code]

[2015-01-20 16:44] #2004 closed

[2015-01-20 16:48] tombentley commented on #2004
Fixed now. That was careless of me, sorry about that.

[2015-01-20 16:52] jvasileff commented on #2004
That was quick, thanks!

[2015-01-21 16:12] jvasileff commented on #1471
It looks like annotations will need to be made on the generated setters, not fields, since setters are responsible for marking fields as initialized (`this.$init$myField = true;`) for `late` references.

An issue that might come up is confusing injection errors due to name mangling of the setters (`setMyField$priv$(...)`), breaking Java Bean conventions. But maybe documentation is enough for this.

[2015-01-21 16:33] jvasileff commented on #1471
On the other hand, there are JSR 303 (javax.validation) constraint annotations that support both ``METHOD`` and ``FIELD`` that should not be applied to setters.

[2015-01-22 09:25] FroMage commented on #1968
So let's close this then?

[2015-01-22 09:26] FroMage commented on #1965
@lahwran I'm going to close this because we think it's fixed and we can't reproduce, but if you can reproduce on the current master, please reopen.

[2015-01-22 09:26] #1965 closed

[2015-01-22 09:27] FroMage commented on #1945
Is this done or not?

[2015-01-22 09:28] FroMage commented on #1933
@davidfestal can you look at this please? If we need to reopen as an IDE issue I can do this.

[2015-01-22 09:50] davidfestal commented on #1933
Yes, I'll try to do this today, as soon as I've pushed my last IntelliJ changes

[2015-01-22 10:02] FroMage commented on #1933
Thanks.

[2015-01-22 11:13] quintesse commented on #1945
Nope, still working on it.

[2015-01-22 15:21] #1955 closed

[2015-01-22 15:21] FroMage commented on #1955
Fixed.

[2015-01-22 15:25] lucaswerkmeister commented on #1955
Thanks!

[2015-01-22 15:59] FroMage commented on #1969
So I think it's a combination of two things: the first is that I guess your code is wrong because you probably pass a `null` `Writer` to the `CeyloncFileManager` you create, which sets a `Writer` in the `Context`, and then when you call `compiler.getTask(...)` with this `CeyloncFileManager` you pass a `Writer` but because one was set in `CeyloncFileManager` yours is ignored. You need to pass it to

[2015-01-22 16:21] dhoehmann opened #2005 "Object creation with names parameters does not compile"
Environment: Ceylon-IDE 1.1 on Eclipse Luna, Kubuntu 14.04/64 bit

[code]

[2015-01-22 16:35] FroMage commented on #1969
OK, so you were using it correctly and it now works, except that to enable verbose mode for everything you should set `--verbose`, and for just `code` you should set `--verbose:code`. In your UI you can only set `--verbose:XX` and currently there's no value of `XX` that is equivalent to `--verbose` so you can only log specific things.

I will add `--verbose:all` as an alias of `--verbose`, but no

[2015-01-22 16:44] chochos commented on #1969
I think @quintesse fixed it to work the same as in JVM.

[2015-01-22 16:46] chochos commented on #1969
But I need to review where I check those verbose flags to make sure that output is only done when the proper flag is set.

[2015-01-22 16:49] FroMage commented on #1969
OK done. Note that I don't get any verbose output from JS with `--verbose:all` ATM. I do get "Created module default" from it, but that's all.

[2015-01-22 16:50] FroMage commented on #1969
Closing, feel free to reopen an issue on `ceylon-js` @chochos if required. I don't know what `--verbose:all` is supposed to log on JS.

[2015-01-22 16:50] #1969 closed

[2015-01-22 16:55] FroMage commented on #2005
Thanks, I confirm it's a bug and not yet fixed.

[2015-01-22 16:57] chochos commented on #1969
Well I guess it should spit out the AST and the generated code, just like the JVM compiler does.

[2015-01-22 16:58] chochos commented on #1969
What are other valid options besides `all` and `code`?

[2015-01-22 16:58] chochos commented on #1969
Nevermind, found them with `ceylon help compile`

[2015-01-22 16:59] FroMage commented on #2005
So it looks like defaulted argument methods for member types end up on the container type, but we don't invoke them on that container instance.

[2015-01-22 17:02] chochos commented on #1969
I'm using `logger.debug` to output all that stuff, maybe that's why you don't see it? Should I use `info` instead?

[2015-01-22 17:04] FroMage commented on #1969
No idea. I use the given `PrintWriter`.

[2015-01-22 17:05] FroMage commented on #1969
Does the IDE give you that logger instance?

[2015-01-22 17:06] chochos commented on #1969
I'm testing on CLI, no idea if the IDE gives the compiler a logger

[2015-01-22 17:06] FroMage commented on #1969
And on the CLI do you get the verbose output?

[2015-01-22 17:07] chochos commented on #1969
The `Options` object has an `outWriter` property, I'll check if the IDE uses that

[2015-01-22 17:19] FroMage commented on #1969
I just made it use that

[2015-01-22 17:20] FroMage commented on #1969
So yes it does, but still I see nothing.

[2015-01-22 17:31] gavinking commented on #1969
Thanks.

[2015-01-22 17:48] #2005 closed

[2015-01-22 17:50] FroMage opened #2006 "Broken recovery test case"
The test for #2005 produced backend errors if you don't import the `javax.sql` module. There's some recovery missing, but I've no idea what, so I'm going to point at @tombentley ;)

[2015-01-22 18:05] chochos commented on #1969
Just pushed some changes to use that writer.

[2015-01-22 20:53] QrczakMK opened #2007 "Bug in the Java backend when splicing a tuple into superclass args"
class Class1(Integer x) {}
class Class2() extends Class1(*[7]) {}

Result:

error: constructor Class1 in class Class1 cannot be applied to given types;
  required: long
  found: no arguments
  reason: actual and formal argument lists differ in length
source/play/Class2.ceylon:1: error: call to super must be first statement in constructor
class Class2() extends Class1(*[7]) {}

[2015-01-23 09:54] FroMage opened #2008 "Compiler exceptions on invalid code"
See https://gist.github.com/lahwran/be6d731c4e8701ca0de9#file-gistfile1-txt-L95

[2015-01-23 11:44] tombentley opened #2009 "Annotation interop for package annotations"
Currently the annotations applied to a ceylon package descriptor get applied to the `package_` class. This means that it's not possible to use Java annotation types which are constrained to (or intended for) the `package-info.class`.

This is further to #1471

[2015-01-23 12:26] tombentley commented on #1471
I was going to add warnings to all those usages of interop annotations which would be ambiguous, but it turns out that the `WarningSuppressionVisitor` runs during `analyseUsage()` as part of typechecking and thus before the `UnsupportedVisitor` (or any of the other code generator visitors), which would mean such warnings wouldn't respect `suppressWarnings`. I guess I should move it to run immediat

[2015-01-23 14:08] tombentley commented on #1471
This should now be fixed.

When we synthesize the ceylon annotation constructor `annotationType` for a Java `@AnnotationType` which can target multiple annotations we now also snythesize `annotationType__CONSTRUCTOR`, `annotationType__FIELD` etc (according to the `@Target`).

Use of `annotationType` in unambiguous places works as before. In ambiguous places it works as before, but with a warning t

[2015-01-23 14:08] #1471 closed

[2015-01-23 14:10] tombentley commented on #1471
Oh, it's possible I missed a few corner cases in the call sites, such that a Java element won't get annotated despite the Ceylon element having an unambiguous annotation. Please open a new issue if you find such omissions.

[2015-01-23 14:37] tombentley commented on #2009
Actually, this isn't really necessary, because in this situation the user can just write a `package-info.java` (along side their package.ceylon) and javac will do its usual thing.

[2015-01-23 14:37] #2009 closed

[2015-01-23 14:53] FroMage commented on #1471
Yes, I find that a bit harsh and cryptic, a better name would obviously be `annotationType__pleasePutThisOnTheConstrustructorKThanksTom`.

[2015-01-23 14:56] FroMage commented on #2009
So IIRC the reason why we ended up with `package.class` was that we wanted to be able to put code in there at some point (like we did for modules at some point). I wonder if we shouldn't reevaluate it entirely and produce `package-info.class`…

[2015-01-23 14:58] tombentley commented on #2007
Thanks for reporting.

[2015-01-23 15:12] tombentley commented on #1471
Yeah, lowercasing the enumeration constant would make it look a bit less jarring, and I almost wonder about using a single `_` too.

[2015-01-23 15:33] jvasileff commented on #1471
I just tried this out, works great.

Would it be possible to add `_SETTER` as well, as in:

[code]
Since METHOD is still ambiguous here.

[2015-01-23 15:34] jvasileff commented on #1471
Just brainstorming, but what about `\iConstructorAnnotationType`?

[2015-01-23 16:08] tombentley commented on #1471
*Possibly*, could you open a separate issue for that.

[2015-01-23 16:33] jvasileff opened #2010 "Java interop annotations on generated setters"
#1471 added a mechanism to disambiguate the Java element in which to apply annotations. However, there remains no way to specify an annotation on generated setters of attributes. The following:

[code]

applies the annotation to the generated *getter*, while:

[code]

of course applies the annotation to the *field*. Unfortunately, using a field annotation here circumvents the attribute initializat

[2015-01-23 17:05] kingjon3377 opened #2011 ""Inherited member is refined by intervening superclass" that isn't "intervening""
Fairly often, when trying to create a subclass of a class in the Java SDK (such as the following MWE), I get a compilation error that doesn't make sense.

[code]

[2015-01-23 17:23] quintesse commented on #1464
Ok, I just pushed the final fixes to the current boxing code as a first step to handle this issue.
What I added for now is the system to change the boxing of declarations, mainly meant for locals but not really limited to those. What you can do is:

 - Add `-Dceylon.compile.forceBoxedLocals=true` somewhere on the command line or in your IDE settings. This will cause **all** locals to be generated

[2015-01-23 18:26] davidfestal commented on #1933
Done.
Please @sgalles, @quintesse and @gavinking, could you confirm that it works now as you expect ?

[2015-01-23 18:26] #1933 closed

[2015-01-23 21:03] sgalles commented on #1933
Yes @davidfestal it works for me.

[2015-01-24 05:11] akberc opened #2012 "Enumeration - incompatible types"
Given `true` and `false` are enumerated types:
[code]
the type of `truth`should not have to be explicitly defined.

Related to implementation of https://github.com/ceylon/ceylon-spec/issues/865

[2015-01-26 12:03] LisiLisenok16 opened #2013 "default arguments and inheritance"
return type of subclass actual method can be class or interface which extends / satisfies corresponding return type of superclass method. But if there default arguments specified all is not so obvious... Look below code for example

	interface Car {}
	interface BigCar satisfies Car {}
	class Truck() satisfies BigCar {}

	interface Driver {
		shared formal Car driveCar( Float speed = 0.0 );
	}
	int

[2015-01-26 12:09] #2007 closed

[2015-01-26 12:13] tombentley commented on #2010
@jvasileff that should work for you know, though because Java's `ElementType` enumeration doesn't distinguish `GETTER`/`SETTER` from `METHOD` I think sometimes the warning messages produced by the compiler might be a little confusing.

[2015-01-26 12:13] #2010 closed

[2015-01-26 12:19] jvasileff commented on #2010
Awesome, thanks @tombentley!

[2015-01-26 13:01] davidfestal commented on #1991
In fact it didn't fix the main problem I opened this issue for. it seems that despite the line number info that you removed, there is still a line information that links line of the return with t he very beginning of the `$call$()` method (method codeIndex 0).

I think that the following Java lines [26](https://gist.github.com/davidfestal/f54616ba4b026063ed6a#file-doer-java-L26), [28](https://gist

[2015-01-26 13:06] quintesse commented on #1991
One thing @davidfestal , I think we've seen from disassembling the Java .class files that we can't really trust in the output of your `JavaPositionsRetriever` because they don't coincide. There are far less positions being stored in the class file than what your utility shows.

[2015-01-26 13:13] davidfestal commented on #1991
Sure, but one of the positions I just mentioned generates an association with line 5 on the codeIndex 0 of the `$call()` method and this is the problem. I mentioned all this lines, because the `codeIndex0 <-> Ceylon line 5` link comes from one of them.
The positions retrieved  by the `JavaPositionsRetriever` can be trusted, but as as representative of the positions stored on the Javac AST nodes on

[2015-01-26 13:16] quintesse commented on #1991
Sure, so we can use to to see when the associated line number is obviously *wrong*, but we cannot say " it seems to me that you don't need to add the line of a variable you are just using, so that IMO Java line 36 should only be associated to Ceylon line 2." because you don't know if any of that information is actually written to the .class file or not.

[2015-01-26 13:19] davidfestal commented on #1991
Yes, you're right. I made a confusion with this sentence :-)

[2015-01-26 21:09] sgalles opened #2014 "Backend error for `let` that precedes a called void function"
This code
[code]
compiled :
[code]

[2015-01-27 03:25] AnhNhan opened #2016 "NPE for innocent code (multiple symbols not found)"
Only tried it with Ceylon 1.1 vanilla Windows, CLI, not with master yet. Looking at the issues, nothing makes me believe it has been fixed though.

Stack trace & some environment info. NPE seems to be coming from tree-walking while de-sugaring within Sun's compiler tools. I'm not too familiar with the compiler tools, though, so I leave the detailed analysis to you guys.

https://gist.github.com/An

[2015-01-27 06:39] gavinking commented on #2016
Hi, thanks, could you please open an issue against the ceylon-compiler project?

Sent from my iPhone

[2015-01-27 08:39] quintesse commented on #2016
Seems to compile just fine here.

[2015-01-27 08:47] quintesse commented on #2016
In fact, I can. Just not in the IDE somehow.

[2015-01-27 09:39] FroMage commented on #2016
Uh, this _is_ an issue on `ceylon-compiler` ;)

[2015-01-27 09:58] gavinking commented on #2016
Ah, haha, I thought it was the email list :)

Sent from my iPhone

[2015-01-27 12:04] quintesse commented on #2016
Smallest example that will show this bug:

[code]

[2015-01-27 12:21] quintesse commented on #2016
Generated code is:

[code]

[2015-01-27 14:14] #2012 closed

[2015-01-27 14:14] #2013 closed

[2015-01-27 14:14] #2014 closed

[2015-01-27 14:14] tombentley commented on #2012
Thanks for reporting @akberc

[2015-01-27 14:15] tombentley commented on #2013
Thanks for reporting @LisiLisenok16

[2015-01-27 14:16] tombentley commented on #2014
Should work now. Thanks @sgalles

[2015-01-27 14:50] tombentley commented on #2011
@gavinking I'm not quite sure what's going on here, because I'm not really sure what case that error message is intended to cope with. However it looks like the logic in `ExpressionVisitor.checkSuperInvocation()` doesn't cope properly with abstraction methods. `etm` is the abstraction method in this case.

[2015-01-27 16:14] #2016 closed

[2015-01-27 16:21] quintesse commented on #2016
Fixed.

[2015-01-27 16:34] AnhNhan commented on #2016
Thanks, guys.

[2015-01-27 16:44] tombentley commented on #2008
Should be fixed.

[2015-01-27 16:44] #2008 closed

[2015-01-27 16:45] FroMage commented on #2008
Thanks a lot! Did you add a test?

[2015-01-27 16:57] tombentley commented on #2008
No I didn't. I had to hand-apply the diff from the patch in order to reproduce, and the project involved has java dependencies etc etc etc, so constructing a test case would be ~~quite~~ a lot of work.

[2015-01-27 17:42] gavinking opened #2017 "narrowing to anon type in else clause"
This code:

[code]

Results in:

[code]

[2015-01-27 17:51] jvasileff commented on #2011
Ah, I actually ran into this before too, but didn't follow up. I think it can be generalized to "an attempt to call `super.foo(X)` from a Ceylon subclass where `foo` is overloaded in the superclass."

What I came up with as a theory was:

* Ceylon likes to verify the provenance of all methods, not just their signatures. For example, you can't extend a class that implements `foo(X)` and also satisf

[2015-01-27 19:17] gavinking opened #2018 "sealed constructors"
A `sealed` constructor currently results in:

[code]

[2015-01-27 21:03] jvasileff opened #2019 "Java interop: setter not visible when getter is protected"
For this Java class with asymmetric visibility on the getter/setter pair for `prop`:

[code]

It is not possible to call `setProp` from Ceylon code in a different package:

[code]

The opposite works - reading from a `public` getter when the setter is `protected`.

If the getter is made `private`, the setter is instead exposed as a method and can be used.

And yes - this actually **is** something

[2015-01-27 21:45] jvasileff opened #2020 "Interop error with Java Interface that defines setter only"
With a Java Interface that defines *just* a setter:

[code]

and a class that adds a getter:

[code]

There is an error attempting to extend the class in Ceylon:

[code]

[2015-01-27 21:51] jvasileff commented on #2020
I'm not sure what the workaround would be for this one - the `JavaBean.setProp` seams to completely disappear:

[code]

[2015-01-27 22:00] gavinking commented on #2020
Man, that's _sooo_ crazy.... :(

[2015-01-28 00:37] gavinking opened #2021 "case (is Empty)"
Given:

[code]

I get:

[code]

[2015-01-28 05:57] jvasileff opened #2022 "incompatible types on callable with inferred arg"
The last one fails

[code]

with

[code]

[2015-01-28 10:01] tombentley commented on #2018
Well if you were using the regular `sealed` then its annotation class is supposed to be constrained to a `ClassOrInterfaceDeclaration`, so the typechecker should produce an error when it's used on a constructor, no?

And if I modify `SealedAnnotation` to be constrained to `ClassOrInterfaceDeclaration|ConstructorDeclaration` then it works for me.

[2015-01-28 10:07] tombentley commented on #2017
Oh, this is quite badly broken

[2015-01-28 10:53] gavinking commented on #2018
@tombentley ah ok, turns out i wasn't checking annotation constraints for constructors.

[2015-01-28 11:03] tombentley commented on #2017
Not so badly broken that it isn't now fixed.

[2015-01-28 11:03] #2017 closed

[2015-01-28 11:04] tombentley commented on #2018
Do you want a spec issue for this?

[2015-01-28 11:04] #2018 closed

[2015-01-28 11:08] tombentley commented on #2011
@gavinking I think this is a typechecker bug, unless you can persuade me the loaded model is wrong, somehow.

[2015-01-28 11:09] gavinking commented on #2011
@tombentley well according to @jvasileff's explanation, the suspicion seems to fall on the model loader, no?

[2015-01-28 11:17] tombentley commented on #2011
Well it's not clear to me @gavinking. From `ExpressionVisitor.checkSuperInvocation()`:

                    Declaration etm = ci.getExtendedTypeDeclaration()
                            .getMember(member.getName(), null, false);

It seems to me correct for `etm` to be the abstraction method, because there's no way given that API for it to return the right overloaded method, but then the condition:

[2015-01-28 11:45] tombentley commented on #2020
@jvasileff the work around is

    shared actual void setProp(String string) {
        super.prop = string;
    }

because Ceylon sees both a method and a variable attribute.

[2015-01-28 11:49] gavinking commented on #2011
@tombentley you're right. It's fixed now.

[2015-01-28 11:51] tombentley commented on #2019
So I guess in a case like this we should expose the setter as a method.

But @gavinking always wanted to always expose the getter and setter as methods as well as a single attribute, and I wonder whether we've just not done that yet or whether there as some good reason we've not done it yet.

[2015-01-28 11:51] tombentley commented on #2011
Thanks

[2015-01-28 11:55] quintesse commented on #2019
Well, wouldn't that just give us more possibilities for name clashes in other circumstances? (Not that I can think of any of the top of my head without resorting to farfetched things)

[2015-01-28 12:02] FroMage commented on #2019
That requires a lot more logic because people would then have the ability to override all of the attribute, getter and setter methods, which we should disallow. Or override a single one of them where it does not necessarily make sense.

[2015-01-28 12:17] #2021 closed

[2015-01-28 12:17] gavinking commented on #2019
@FroMage I don't think that's right. You could make the getter and setter methods final.

[2015-01-28 13:02] FroMage commented on #2019
`abstract final`?

[2015-01-28 13:18] #2019 closed

[2015-01-28 13:23] tombentley opened #2023 "Expose Method and Value for Java bean getters, setters"
Since I've fixed #2019 I think we need an issue to track the suggestion that the model loaded exposes the getter and setter `Method`s for Java properties as well as a `Value`.

[2015-01-28 13:25] tombentley commented on #2023
Would doing this break the workaround for #2020?

[2015-01-28 13:25] FroMage commented on #2023
Dupe of #1234.

[2015-01-28 13:25] #2023 closed

[2015-01-28 13:28] tombentley commented on #1234
That could be used to justify not doing a whole lot of things, and it applies equally well to every version number.

[2015-01-28 13:30] gavinking commented on #1234
Well you *can* override the getter (and setter), using the usual attribute syntax.

[2015-01-28 13:31] FroMage commented on #1234
Well, it was moved from 1.1 to 1.2 and I still think it was justified then. If you feel you have a solid satisfying solution to this for 1.1.5, be my guest ;)

[2015-01-28 14:43] quintesse commented on #1690
I did some work on this (see ceylon/ceylon-common@d9224493f906c83be95fbcb9131e5da790ffa745) by letting you specify a reference to a couple of required Java 7 core JARs.

[2015-01-28 21:58] jvasileff opened #2024 "error: imported package is not shared"
Importing a class in a Java source file within a Ceylon module causes the class's package to not be available for import in Ceylon source files.

For a `ceylon new simple` project, with:

JavaClass.java
[code]

run.ceylon
[code]

module.ceylon
[code]

package.ceylon
[code]

you get:

[code]

Note: this error does not occur in the IDE.

[2015-01-29 13:09] dhoehmann opened #2025 "Ternary like construct with type checking"
//This example compiles fine
	Object i = 100;

	if (is Integer i) {
		print(i+1);
	} else {
		print(0);
	}

	//The following three examples refuse to compile. Why?
	//Is it by intention or mistake?

	print (i is Integer then i+1 else 0);

	print (is Integer i then i+1 else 0);

	//I think I get this one: j could be modified within the if block and change its type
	variable Object j = 100;
	if (is

[2015-01-29 13:23] quintesse commented on #2025
The two single print-statements are because we don't do type narrowing inside expressions (yet? I thought there was an issue on ceylon-spec for this. @gavinking ?).

The last example has to be rewritten otherwise we can't guarantee `is Integer` inside the block (you could assign a String to it for example). If you write it like this everything is okay

[code]

[2015-01-29 13:23] #2025 closed

[2015-01-29 14:03] dhoehmann commented on #2025
Thanks for the quick response. I'd definitely vote for type narrowing inside expressions!

[2015-01-29 14:06] quintesse commented on #2025
Oh I think we all *want* it :)

[2015-01-29 14:45] FroMage commented on #2025
We do have inline if expressions in the upcoming release:

[code]

[2015-01-29 14:47] quintesse commented on #2025
Ah yes, forgot all about those!

[2015-01-29 16:10] FroMage commented on #1968
Closing.

[2015-01-29 16:10] #1968 closed

[2015-01-29 16:11] FroMage commented on #1464
Is this going to make it in 1.2?

[2015-01-29 16:12] FroMage commented on #1853
@quintesse do you mind taking those?

[2015-01-29 16:13] FroMage commented on #1848
@alesj any idea which direction we should head?

[2015-01-29 16:14] FroMage commented on #1834
So this is fixed then I guess. Please reopen if not.

[2015-01-29 16:14] #1834 closed

[2015-01-29 17:06] FroMage commented on #2024
So, this is due to unfortunate things:

- we can't load the annotations of `ceylon.time.package_` at the same time as we complete it _if_ there is already a Javac `enter` phase going on.
- we process java sources in Javac `enter` phase, which then has added code to validate that imports come from imported modules, but since we do this during an `enter` phase, we get the package symbol, but we can'

[2015-01-29 17:09] lucaswerkmeister opened #2026 "Incompatible type on some tuples in ceylon.ast"
Some `ceylon.ast` nodes can’t use the most precise possible type for `children` because it causes javac errors. This has previously been reported as #1728 and #1834, but in both cases I oversimplified the `ceylon.ast` situation with the result that while the reduced test case was indeed fixed, `ceylon.ast` compilation still fails.

To see this, check out the [`unWorkaroundCompilerBug` branch](http

[2015-01-29 17:09] lucaswerkmeister commented on #1834
Not fixed as such, no… reported as #2026.

[2015-01-29 17:12] FroMage commented on #2024
I _guess_ that a workaround is to not import the type and use it fully-qualified. @jvasileff can you try that to see if you can work around it until I figure how to fix it?

[2015-01-29 17:17] FroMage commented on #1834
OK, thanks

[2015-01-29 17:25] FroMage commented on #2024
Perhaps one way to fix this is to do a pre-visit of the java trees for imports, since that's all that is done during the problematic `enter` phase.

[2015-01-29 17:33] FroMage commented on #2024
Well, not so trivial, we need to make sure in `import foo.Bar` that `foo` is a package and not a type, which is done in `enter`. We also can't delay the check until a later phase because we would not be attributing the error symbol on the right import node.

[2015-01-29 17:58] jvasileff commented on #2024
Yes, of course. In fact, my sdk pull request basically is my workaround.

If this isn't for 1.2, I think it would be nice to have a "not supported" error if possible. Narrowing this down took quite a while!

[2015-01-29 18:04] quintesse commented on #1464
Yes, we can at least put in an initial implementation with simple heuristics and expand on them when we encounter cases that we want improved.
I currently have an implementation that improves the situation in some cases and worsens in others. If I can at least prevent those latter cases I can merge what I have.

[2015-01-29 18:05] quintesse commented on #1853
I'm afraid I don't really understand the issue "tests to test the samples"?

[2015-01-29 19:05] FroMage commented on #1853
Make sure we can compile, run doc them. The samples we ship with.

[2015-01-29 19:29] quintesse commented on #1853
Ah, those samples! Sure.

[2015-01-30 12:17] #2024 closed

[2015-01-30 12:18] FroMage commented on #2024
OK fixed.

[2015-01-30 12:19] FroMage commented on #2006
Moving to 1.3.

[2015-01-30 12:20] FroMage commented on #1966
Moving to 1.3.

[2015-01-30 12:21] FroMage commented on #1960
Moving to 1.3.

[2015-01-30 12:21] FroMage commented on #1872
Moving to 1.3.

[2015-01-30 12:29] FroMage commented on #2011
@tombentley there's a test file missing.

[2015-01-30 12:30] FroMage commented on #2011
@gavinking I think this change broke three compiler tests.

[2015-01-30 12:34] FroMage commented on #2011
Sorry @gavinking my bad, you just added new errors, that's fine.

[2015-01-30 12:45] #2003 closed

[2015-01-30 12:48] #1964 closed

[2015-01-30 12:49] FroMage commented on #1945
Will this be done in time for 1.2?

[2015-01-30 12:50] FroMage commented on #1936
So is this fixed then, @tombentley ?

[2015-01-30 12:54] tombentley commented on #1936
Well there's a test there being executed and it's passing so I suppose it must be.

[2015-01-30 12:54] #1936 closed

[2015-01-30 12:57] #1932 closed

[2015-01-30 12:59] FroMage commented on #1936
Excellent! :)

[2015-01-30 13:00] FroMage commented on #1932
Meh, it works now, yay!

[2015-01-30 13:23] gavinking commented on #1945
It needs to be.

[2015-01-30 14:05] FroMage commented on #1918
This is actually another bug it seems, due to scopes and substitutions. Perhaps @tombentley can give me a hand? I'm a bit lost there.

[2015-01-30 14:24] FroMage commented on #1918
So what happens here is that we're not defining a new variable for the `is CAlias` test, and since we decompose the test in two `instanceof` the first one gets the right expression to test, but the second gets the name unsubstituted, due to a problem with scopes and substitution keys.

Hence the generated code looks like:

[code]

I don't quite get why the substitution key gets the wrong scope or

[2015-01-30 14:54] FroMage commented on #1918
OK, reassigning to @tombentley, perhaps he's luckier than I am :(

[2015-01-30 15:32] jvasileff opened #2027 "import of qualified annotations fails, sometimes"
Importing #2009 and #2010 annotations fails sometimes. I *think* the following are true:

* Import always works if the "bare" annotation is also imported
* It may just be that the import of `__GETTER` annotations fail w/o ^
* The IDE may not be consistent for testing this

module.ceylon
[code]

run.ceylon
[code]

[2015-01-30 15:44] tombentley commented on #2027
Yes, I think I forgot to add support for the `GETTER` somewhere.

[2015-01-30 15:51] quintesse commented on #1945
Sure, don't worry.

[2015-01-30 17:20] #1918 closed

[2015-01-30 17:20] #2027 closed

[2015-01-30 19:17] jvasileff opened #2028 "not an enclosing class: java.util.Map"
Type parameters for `Map` in `Map.Entry`s appear to be missing in some cases based on IDE mouseovers.

[code]

In the case of `JavaMap<Object, Object> map`, the type for `es` is correctly inferred to be `Set<JavaMap<Object,Object>.Entry<Object,Object>>`.

[2015-01-30 21:30] jvasileff commented on #2028
Actually, what I said doesn't make any sense since `Map.Entry` is a `static` interface.

It looks like whatever the root problem is, the error occurs with `.java.util.Map.this.$reified$V` when comparing the two scenarios:

[code]

[2015-01-31 16:26] bjansen opened #2029 "method annotations in class annotations_ cannot be applied to given types"
The following minimal sample does not compile:

[code]
Compiler output:
[code]

On a more complex code, when trying to compile https://github.com/bjansen/gyokuro I also get a fatal error:

[code]

[2015-01-31 16:28] lucaswerkmeister commented on #2029
It compiles if you change the second type argument for `OptionalAnnotation` to either `ClassDeclaration` or `FunctionDeclaration`, so it looks like the union type is causing the problem.

[2015-01-31 16:32] lucaswerkmeister commented on #2029
You also get an error with an intersection type argument, e. g. `FunctionalDeclaration&Annotated`.

[2015-01-31 22:59] gavinking opened #2030 "boxing issue with class alias of constructor"
Given:

[code]

I get:

[code]

[2015-02-01 01:10] gavinking opened #2031 "add initialization check for late attribute values"
See ceylon/ceylon-spec#1123.

[2015-02-01 11:03] gavinking commented on #2031
Here's an implementation suggestion. Suppose I have:

[code]

This would result in the Java code:

[code]

In fact, we would probably factor out the `if (this instanceof Leaky)` bits into helper functions.

This implementation achieves that only classes which actually assign a self-reference to a `late` attribute actually wear the cost of having an extra boolean field.

[2015-02-01 13:19] sgalles opened #2032 "Strange error for formal class in non-top-level interface"
This code
[code]
compiled
[code]

[2015-02-01 17:01] jvasileff commented on #2020
Ok, thanks. That usually works. But sometimes, the setter is final in the parent class!

[2015-02-01 17:29] kingjon3377 opened #2033 "Incompatible types error when extending MutableList"
The following code fails to compile with the error "types List<Object> and Iterable<T,Object> are incompatible; both define repeat(long), but with unrelated return types":

[code]

[2015-02-01 19:17] gavinking commented on #2033
Confirmed. Nasty! Thanks.

[2015-02-01 23:10] sgalles opened #2034 "Strange behavior for `nothing` initialized at top level"
This seems inconsistent :
[code]
and

[code]
FTR : The JS backend prints 42 for the first example...

[2015-02-01 23:19] lucaswerkmeister commented on #2034
Generated code:
[code]
What’s happening:

1. `a_.set_(42)` causes the static initializer of `a_` to be run.
2. Within the static initializer, `nothing_.get_()` is run and throws an `AssertionError`.
3. The static initializer catches any `Throwable`, including that error, and stores it in `$initException$`. Just to be safe, it also resets the `$init$value` flag.
4. The `set_` call itself runs, sett

[2015-02-01 23:22] lucaswerkmeister commented on #2034
Actually… with that solution the initial value is still evaluated, just not used. If the initializer expression has side effects, I’m not sure if that’s correct or not.

OTOH, I’m not sure if it’s even possible to avoid that. Probably not without ditching the static initializer, since that gets run before `set_()` could possibly inform it that it’s not gonna be needed.

[2015-02-02 08:49] lucaswerkmeister commented on #2034
Well there’s a simpler metric than ethics: Backend comparison! :D
[code]
Java:

JS:

So that’s also inconsistent at the moment.

[2015-02-02 11:05] gavinking opened #2035 "@Annotations(@Annotation("shared")) is amazingly wasteful"
Check this out:

[code]

Duplicate information is stored in a very wasteful format for no apparent reason. I propose that:

1. we stop storing doc annotation and user-defined annotations in `@Annotations`, and
2. we encode language annotations into @Annotations using a `modifiers` integer.

This could be done without breaking backwards compatibility.

[2015-02-02 11:11] #2029 closed

[2015-02-02 11:11] tombentley commented on #2011
Add missing test fail. Closing

[2015-02-02 11:11] #2011 closed

[2015-02-02 11:13] tombentley commented on #2029
@bjansen thanks for reporting. The original problem should be fixed now. If your more complex example still produces problems please open a separate issue.

[2015-02-02 11:16] lucaswerkmeister commented on #2029
I just updated and now https://github.com/bjansen/gyokuro builds without errors for me.

[2015-02-02 13:52] #2030 closed

[2015-02-02 13:54] gavinking commented on #2030
Thanks Tom.

[2015-02-02 15:24] FroMage commented on #2034
Well, it's not clear at all to me that the Java behaviour is the wrong one. It depends on what the spec would say, but it seems very intuitive to me that given eager evaluation with `=` then the attribute _must_ be defined and initialised before it is set to a new value. Otherwise the initialisation of the variable is entirely skipped and that doesn't seem right.

[2015-02-02 15:25] FroMage commented on #2034
Of course, it would be different with `=>` and lazy evaluation, but with `=` I'm inclined to say the spec should bless the JVM backend behaviour and close this issue.

[2015-02-02 15:26] FroMage commented on #1918
Thanks @tombentley I would never have figured how to fix this!

[2015-02-02 15:29] gavinking commented on #2034
@FroMage well the issue is the difference between the two code examples right at the top of this issue.

[2015-02-02 15:42] FroMage commented on #2034
Well, so we have to define what needs to happen then. IMO initialisation should happen before we do the `set`, though in the case of deferred initialisation, that happens to be right where `set` is called, so `set` should throw in both cases. From that, it follows that it throws before the new value is set, and therefore every call to read and write should throw forever. Agreed?

[2015-02-02 15:45] gavinking commented on #2034
Sounds good to me.

[2015-02-02 16:03] tombentley commented on #2020
I think that this would be addressed by #1234, so unless @jvasileff can show that this issue affects some super-commonly used library or framework I proposed we defer this to 1.3 like we have #1234

[2015-02-02 16:09] FroMage commented on #2034
So, what is confusing is that the exception which is thrown is saved from the place where we evaluated it, and so the line numbers point to where the initialisation happened, and not when we tried every subsequent evaluation. But I don't think I can change that.

[2015-02-02 16:16] tombentley commented on #2032
The problem here is the `@Member` annotation mentions `Foo$impl.Bar.class`, but that's a class local to `run()`. @FroMage I'm not sure what the expected behaviour is here. I don't see how we can refer to that class (even if we do know how javac mangles its name, I don't think it will let us use it in a `.class` literal because it's compiler specific, right?)

[2015-02-02 16:25] jvasileff commented on #2020
It's prevalent in Spring. Beyond that, I'm not sure.

The idea is that before everyone moved to annotations, there were interfaces you could implement to ask for certain injections (or I think even things like event notifications.) For example, the interface `ApplicationContextAware` has only one method, `setApplicationContext`. Unfortunately, useful or even necessary abstract implementations of t

[2015-02-02 16:31] jvasileff commented on #2020
I'll add that this hasn't been a major issue for me yet, but it could become one.

The worst case I've seen so far was in adding support for `ceylon.html` for views, and my workaround was to forgo a convenience abstract class and just implement the necessary interface directly.

[2015-02-02 16:42] FroMage commented on #2032
Damn, OK I'll take it.

[2015-02-02 16:48] #2034 closed

[2015-02-02 16:49] FroMage commented on #2034
So this is fixed and will throw on every get/set. I suppose the spec needs to bless this and the JS backend too.

[2015-02-02 16:51] FroMage commented on #2034
Done, and opened a JS issue for it.

[2015-02-02 17:23] tombentley commented on #2020
OK thanks, that's useful context.
On 2 Feb 2015 16:31, "John Vasileff" <notifications@github.com> wrote:

[2015-02-02 17:26] jvasileff commented on #2020
Looks like this is a dup of #1368

[2015-02-02 20:16] quintesse opened #2036 "Class-loading issue with test suite"
The test suite, when run from the IDE, seems (in certain cases?) to load classes from the file system instead of the .car files. I noticed this when trying to run the test suite on Windows and getting a number of duplicate declaration errors. In each case it was a test that had both a Java class called `BugXXX` and a Ceylon method called `bugXXX` (see for example `bug850` and `bug854`).

[2015-02-02 20:17] quintesse commented on #2036
PS: Stef, I assigned this to you for a moment because I wanted to know if you had an idea. This could be as simple as a misconfigured IDE, but I'm not sure.

[2015-02-03 00:15] jvasileff opened #2037 "Annotations missing on parameters declared in method body"
[code]

results in:

[code]

and

[code]

results in

[code]

[2015-02-03 09:44] #2032 closed

[2015-02-03 09:45] FroMage commented on #2032
Fixed.

[2015-02-03 09:52] FroMage commented on #2036
Mmm, we do clear the classpath though, can you reproduce this?

[2015-02-03 11:04] #2037 closed

[2015-02-03 11:04] FroMage commented on #2037
Fixed!

[2015-02-03 11:07] quintesse commented on #2036
Yes , every time. But I can even reproduce the classpath problem on Linux, but because of the case sensitive paths it doesn't pose any problems. I just put a breakpoint in `CeylonModelLoader.lookupNewClassMirror()` around line 352 and look at the `classSymbol.classfile` and it shows things like: `RegularFileObject[.\build\classes\com\redhat\ceylon\compiler\java\test\issues\bug08xx\bug850\bug850.cl

[2015-02-03 11:17] FroMage commented on #2036
So how does `build` end up in the classpath then?

[2015-02-03 11:26] quintesse commented on #2036
No idea, I was hoping you could tell me :)
Is there any place I can see that?
I also thought we had this fixed a long time ago, but I'm not entirely clear *how* it was fixed.

[2015-02-03 11:42] tombentley commented on #2032
Thanks

[2015-02-03 11:45] tombentley commented on #2035
Early indications are this will make the dist `.zip` about 6% smaller if we're using a `long` to encode the modifiers.

[2015-02-03 12:08] gavinking commented on #2035
Seems worthwhile to me.

Sent from my iPhone

[2015-02-03 12:38] tombentley commented on #2035
Sorry, I was completely wrong because I was looking at size of the wrong files. Whether we use an `int` or a `long` we're looking at the language module `.car` being less than 1% smaller.

[2015-02-03 13:06] quintesse commented on #2035
Doesn't surprise me, strings are only stored once if they're exactly the same. It just *looks* wasteful in the (fake) generated Java source.

[2015-02-03 13:25] FroMage commented on #2036
See db0bee91780bb6cf9a43ebe09f68a0b356b90471

[2015-02-03 13:26] FroMage commented on #2035
Well, why again didn't we remove the `@Annotations` one? I think it predates support for annotations, no?

[2015-02-03 13:30] tombentley commented on #2035
IIRC because the model loader can't use the `@Shared$annotation` and friends because we can't put those on `native` things in the language module. In turn because of the bootstrap problem.

[2015-02-03 13:33] FroMage commented on #2035
Mmm, why not? We are able to use the metamodel defined in Ceylon in its Java implementation, though.

[2015-02-03 13:37] tombentley commented on #2035
Because in order to do annotation processing javac completes annotations very early on, before the model loader is involved in anything.

[2015-02-03 13:40] FroMage commented on #2035
Oh, so it's different for annotations? Well, we could _still_ stop generating `@Annotations` if we're not bootstrapping ;)

[2015-02-03 13:48] tombentley commented on #2035
yes

No the problem is using stuff like `@Shared$annotation` doesn't exist for javac when we're compiling natives, so we get a no such symbol. javac has no way to know that the symbol will be defined, because we only enter it into the symbol table during a later phase. I think I described the pb wrongly before, but it's been a while since I looked at it. But I do remember it's a pretty hard one to

[2015-02-03 13:50] FroMage commented on #2033
OK, so this is javac looking at class files and complaining, because `ListMutator<T>` is a `List<Object>` while `MutableList<T>` is a `ListMutator<T> & List<T>`.

[2015-02-03 13:52] FroMage commented on #2035
I don't get it. If we're not compiling the language module, then `@Shared$annotation` must be resolvable.

[2015-02-03 13:54] gavinking commented on #2033
So it works for LinkedList and ArrayList. Why is an interface different?

[2015-02-03 14:04] tombentley commented on #2035
Well it was probably about 12 months ago that I was looking at this, so I could be confused, but the problem is what https://github.com/ceylon/ceylon.language/issues/408 is about. When we're compiling the natives in the language module javac tries to complete annotation types like `@Shared$annotation` before our compiler get's a look-in.

[2015-02-03 14:07] FroMage commented on #2035
Again, I can believe you _when bootstrapping_, but that should not be true for any other module.

[2015-02-03 14:08] FroMage commented on #2033
Well, it's even worse because for some reason if I change the order of satisfied interfaces in `MutableList` the SDK stops compiling at _other_ places which I can't seem to reproduce in tests ATM.

[2015-02-03 14:10] tombentley commented on #2035
Yes, it's during bootstrapping.

[2015-02-03 14:14] FroMage commented on #2035
So we _should_ be able to not generate these annotations when not bootstrapping then :)

[2015-02-03 14:16] tombentley commented on #2035
Well obviously I don't understand how the hell the bootstrapping stuff works, but if that's all it needs... let's have a try.

[2015-02-03 14:18] quintesse commented on #2035
Meaning we keep the code that knows how to *read* both types of annotations but we *use* the older type only when compiling the language module, right?

[2015-02-03 14:21] FroMage commented on #2035
Yes, that would be a good start.

[2015-02-03 14:28] tombentley commented on #2035
Well, sure we could annotate all the native stuff with `@Annotations(modifiers=243)` (by hand) if you like. But that would be a *lot* of effort and it still wouldn't fix ceylon/ceylon.language#408 because the annotations are read at runtime using the "real" `@Shared$annotation` annotation. Of course we could *also* change the way we read language module annotations at runtime, so everything was co

[2015-02-03 18:06] gavinking commented on #2035
Because it is ugly when I turn on logging to see the generated Java schema and have my eyes hurt like someone shoved a stick in them.

That's reason enough.

Sent from my iPhone

[2015-02-03 18:44] quintesse commented on #2035
Go see an optician :)

[2015-02-03 19:00] jvasileff opened #2038 "Error satisfying interface parameterized with union or intersection"
in:

[code]

out:

[code]

A theory is that the compiler decides to use an erased type for the first argument `x` due to the complex type, but doesn't do the same with the second argument `y`.

[2015-02-03 22:50] sadmac7000 opened #2039 "Compiler bug when using advanced constructors and initializing shared class function member to local function."
Compiling this:
[code]

Gives this:
[code]

[2015-02-04 09:20] jpragey opened #2040 "Method name clash when refining a void({Byte*}) method in a complex type hierarchy"
I found this one when trying to make a VFS: compiling

[code]
prints:
[code]
I wasn't successful in simplifying this code; the bug fades away when I remove a type argument.

[2015-02-04 12:06] quintesse commented on #2036
@FroMage the result from `computeUserClassPath()` is :

[code]

[2015-02-04 12:16] quintesse commented on #2036
Btw, deeper down the rabbit hole in the `JavacFileManager` the path has been extended to include more things:

[code]

[2015-02-04 12:36] quintesse commented on #2036
Ok, got it, it's indeed an Eclipse configuration. It compiles the test files which end up in `.\build\classes` which is first in the class path. There's already a couple of bug folders that are in the exclusion list of `test/src`. Fixing...

[2015-02-04 12:39] quintesse commented on #2036
Joy, I'm actually encountering a whole bunch of tests that were actually depending on Eclipse to compile the .java files! (See `bug334` for example)

[2015-02-04 13:29] quintesse opened #2041 "Resource retrieval fails on Windows with complaint about illegal characters in a URI"

[2015-02-04 14:33] tombentley commented on #2035
More fiddly than I would have liked, but hopefully Gavin's eyesight is safe for the time-being.

[2015-02-04 14:33] #2035 closed

[2015-02-04 14:38] gavinking commented on #2035
Thanks! :)

[2015-02-04 14:43] #2041 closed

[2015-02-04 14:50] FroMage commented on #2035
So we didn't remove the `$Shared$annotation` when we have the info in `@Annotation(modifiers = x)`? Why not?

[2015-02-04 14:51] gavinking commented on #2035
We need the `$Shared$annotation` for the metamodel, don't we?

[2015-02-04 14:52] FroMage commented on #2035
Also, I think we're better off with the modifier masks somewhere in the language module's `metadata` package so that they can be defined manually in Java code without pulling the compiler module.

[2015-02-04 14:52] FroMage commented on #2035
Well, only if the metamodel can't produce it out of thin-air when required.

[2015-02-04 14:57] quintesse commented on #2036
Fixed by @c7603cd0319db5825dfde805fa80f607f652e556

[2015-02-04 14:57] #2036 closed

[2015-02-04 15:20] tombentley commented on #2035
That's what ceylon/ceylon.language#408 is about, and it would involve a similar duplication of code paths in the metamodel. Plus duplicated testing. That's quite a lot more work than this was.

I can't really parse that sentence, but I don't have an opposition to putting the masks somewhere else if they need to be shared. Which they would if the metamodel was to read them at runtime.

[2015-02-04 16:22] FroMage commented on #2035
I meant that if we have to write native code:

[code]
then it's better if the constants live in the language module's `metadata` package rather than in the compiler package.

[2015-02-04 16:23] FroMage commented on #2035
Or in addition to if we can't make it work.

[2015-02-04 16:50] tombentley commented on #2035
Yes, in addition to because the flags being defined in ceylon.language doesn't help because that's not on the classpath of the compiler.

[2015-02-04 19:15] jpragey commented on #2040
After all, maybe it's a dup of #1875 .
Sorry for the inconvenience if it's the case.

[2015-02-04 19:24] jvasileff opened #2042 "Interop: backend error for `javaArray?.array`"
with:

[code]

you get:

[code]

you can see the attempt to call `getArray()` on the actual `Object[]` array:

[code]

[2015-02-04 21:31] gavinking opened #2043 "class with empty initializer missing line number info"
I have:

[code]

When I try to step into the instantiation of `Bar`, the IDE complains about missing line number info.

[2015-02-05 00:44] gavinking commented on #2043
I lie. It's choking on `Bar.<clinit>`, not `Bar.<init>`.

So I think it's actually the line of code that initializes `$TypeDescriptor$` that has no line number info.

[2015-02-05 00:45] gavinking opened #2044 "unshared classes and functions don't need main() methods anymore"
We don't need to generate `main()` methods for un-`shared` declarations anymore.

[2015-02-05 02:11] #2044 closed

[2015-02-05 09:05] jvasileff opened #2045 "compiler croaks on negative number in annotation constructor"
[code]

[2015-02-05 09:47] gavinking commented on #2044
Thanks!

[2015-02-05 09:50] #2045 closed

[2015-02-05 09:51] tombentley commented on #2045
Should work now. Thanks @jvasileff

[2015-02-05 10:21] gavinking opened #2046 "missing line number info for iterable args in named arg list"
Given:

[code]

There is an inner subclass of `LazyIterable`. It's initializer doesn't seem to have line number info, so the debugger complains.

[2015-02-05 10:28] gavinking opened #2047 "wrong line numbers for statement with annotations"
Given:

[code]

The line number in the class file of the invocation of `f` is actually the line number of the `suppressWarnings` annotation.

[2015-02-05 10:31] FroMage opened #2048 "Javac errors when I switch order of satisfied interfaces in SDK"
Changing

[code]

Into:

[code]

Causes these errors when compiling the `test.ceylon.collection` modules:

[code]

I've checked the generated code and the tests compile to _exactly_ the same Java code, while the collection module changes a total of two casts, but no public method signature change at all, and of course the order of the implemented interfaces. So it's not likely we can fix these err

[2015-02-05 10:31] FroMage commented on #2033
OK, split the other issue to #2048.

[2015-02-05 10:31] gavinking commented on #2047
Oh wait, this is much worse. If I change the code to:

[code]

Then stepping _completely skips over_  the call to `f`. Nasty!

[2015-02-05 10:32] gavinking commented on #2047
So the problem is, I guess, not actually so closely related to the annotation.

[2015-02-05 10:39] bjansen commented on #2029
I confirms this works as expected. Thanks for the quick fix!

[2015-02-05 10:40] FroMage commented on #2033
Given that this error only happens on interfaces, and not on abstract or regular classes (why?) I'm inclined to say we can skip this error.

[2015-02-05 10:41] gavinking commented on #2033
"skip"? what?

[2015-02-05 10:50] FroMage commented on #2033
I mean, disable this error when looking at Ceylon source code… I don't like it because I can't really discriminate easily between legitimate errors and this special case so I'll have to disable it even for invalid code, but there's not much I can do…

[2015-02-05 10:57] gavinking commented on #2033
You mean in javac? Yes, I think that's fine.

[2015-02-05 11:07] FroMage commented on #2033
Actually this error also happens on abstract classes, as long as there's no default implementation of the method (otherwise we sneak the method in) so we only get the error when the method is not overridden explicitly. So perhaps another way to tackle this would be to always redefine the method as an abstract method. But again we're back at detecting which methods we need to redefine magically, wh

[2015-02-05 14:24] tombentley commented on #2046
The problem sees to be that the inner subclass gets no `LineNumberTable` attributes at all in the `.class` file, so Eclipse Debugger whinges. In fact there *ought* to be a `LineNumberTable` because the `Float` box instantions are attributed to the relevant line.

I can easily add a `LineNumberTable` by attributing the instantiation and the inner class code (including the `switch`) to line 2, but I

[2015-02-05 14:51] gavinking commented on #2046
@tombentley I'm happy if it steps to line 2.

[2015-02-05 19:29] quintesse commented on #1690
Ok, this seems to work now (tested on Windows and Linux at least). Of course this only fixes the compile errors, you could not use this to do an actual official release that needs to run on a version 7 JVM, for that you need to follow the explanation in https://github.com/ceylon/ceylon-common/blob/master/common-build.properties

[2015-02-05 19:32] #1690 closed

[2015-02-06 13:14] #1853 closed

[2015-02-06 13:15] quintesse commented on #1853
Seemed we were already doing this for the `helloworld` sample, I added the other 3 as well.

[2015-02-06 13:20] FroMage commented on #1853
Thanks!

[2015-02-06 15:22] FroMage opened #2049 "Defaulted parameter on member class causes backend error"
[code]

This causes a `$default$Member$times` method to be declared on `List$impl` which tries to delegate to the `Iterable$this` field it does not have.

We should skip that method and make sure callers use `$this.$default$Member$times` instead.

[2015-02-06 15:27] FroMage opened #2050 "Defaulted parameter for mixin bridge gets called on wrong impl member"
[code]

In `MweList3` the method `repeat$times` in the bridge is called on `List$impl` cast to a `Iterable$impl` but that's wrong since there's no inheritance between impl classes.

[2015-02-06 15:51] #2033 closed

[2015-02-06 15:52] FroMage commented on #2033
Done, but not by tweaking javac. I now emit an extra abstract method on interfaces that implement two interfaces with different type args. That makes javac shut up. I found lots of other issues during that bug fix though.

[2015-02-06 15:52] FroMage commented on #2049
Fixed.

[2015-02-06 15:52] #2049 closed

[2015-02-06 15:52] FroMage commented on #2050
Fixed

[2015-02-06 15:52] #2050 closed

[2015-02-06 17:59] jpragey opened #2051 "Optional field in a class satisfying I<Nothing>"
Compiling:
[code]
prints:
[code]

[2015-02-06 19:57] gavinking commented on #2049
@FroMage looks like you just committed a log of `System.err.println()`s!

[2015-02-06 20:48] sgalles opened #2052 "ModelResolutionException for incomplete java dependencies"
To reproduce you need this Gradle jar **gradle-core-2.2.1.jar** from the Gradle 2.2.1 distribution (for convenience the jar is also available here http://stephane.galles.free.fr/ceylon/misc/tests/gradle-core-2.2.1.jar )

Import this jar in your Ceylon repos, create a Ceylon project, and import the jar in a module, for instance
[code]
Then in this project add this code :
[code]
Compiled with the CL

[2015-02-07 10:19] lucaswerkmeister commented on #2026
Alright, I *finally* have a smaller code sample. I committed it in [this gist](https://gist.github.com/lucaswerkmeister/62a5fb4f16d2ac555264), which I’ll update as I try to further reduce the code. (Clone it and see the commit messages.)

[2015-02-07 11:05] lucaswerkmeister commented on #2026
Oh, and in that gist, if you build it from the command line, you only see errors in `ImportFunctionValueElement.ceylon`, whereas the IDE will show you the same errors in `ImportTypeElement.ceylon` as well. Looks like the CLI aborts after the first erroneous file.

[2015-02-07 11:20] lucaswerkmeister commented on #2026
I’ve added a second branch to the gist: in `noName`, you can see how one change (the removal of the `name` parameter+attribute) moves the error into the `else` branch. to an assignment of `[]`. See the commit message.

[2015-02-07 11:24] lucaswerkmeister commented on #2026
Only 43 LOC total… I think that’s as minimal as I can make that sample (except by trimming blank lines). I’m done.

When you think you’ve fixed the bug, test it against the first revision of the gist too ([32e54c4](https://gist.github.com/lucaswerkmeister/62a5fb4f16d2ac555264/32e54c43a9b2de9def76c15316f5087c71c85ee3)), and if possible against `ceylon.ast`’s `unWorkaroundCompilerBug` branch as well

[2015-02-07 16:38] lucaswerkmeister commented on #2026
And I’ve found the reason why I was never able to reproduce the bug manually – it disappears if you move everything into a single file. *heavy breathing*

[2015-02-07 22:54] jvasileff opened #2053 "Interop: Generic array creation w/spread operator"
When calling the java method `accept`:

[code]

[code]

the compiler attempts to create a Java `Element[]` instead of creating an `Object[]`, and then casting to `Element[]`.

[2015-02-08 00:42] jvasileff opened #2054 "Interop: Unsoundness with "is" test on generic Java types"
Obviously Java objects are not reified, but the compiler lets you act is if they are:

[code]

I guess this is a pretty complicated problem, but it would be nice it were possible to disallow `is` checks like this *unless* the typechecker can guarantee that a simple `instanceof` test is sufficient, which I think it would be in this case.

I can do `is JList<out Anything>`, but that only proves to *

[2015-02-08 00:49] jvasileff commented on #2054
FWIW, the workaround in this case is:

[code]

[2015-02-08 15:07] sgalles opened #2055 "Java method VS getter disambiguation does not allows to call the getter"
For this Java interface
[code]
This ceylon code compiled with the CLI or the IDE :
[code]
gives
[code]
So I can't access the getter it is a problem in its own right.

Now rename the method, this compiles with the IDE but does not compile with the CLI :
[code]
and
[code]

[2015-02-09 10:56] tombentley commented on #2046
@gavinking this should now be fixed.

[2015-02-09 11:07] gavinking commented on #2046
Excellent, thanks.

[2015-02-09 11:13] tombentley commented on #2043
@gavinking I can't reproduce this: When I step into the instantiation of `Bar` is works fine.

[2015-02-09 11:37] tombentley commented on #2043
Actually, the initialization of the `$TypeDescriptor$` gets line number information when it doesn't correspond to anything in the original source code. That seems incorrect to me, I think we should generate that code with no line info. For me that still wouldn't elicit the IDE warning that @gavinking complained about.

[2015-02-09 14:24] tombentley commented on #2047
We need to use the identifier of the attribute definition to ascribe the line number, rather that the definition itself (which, because it includes the annotations, can start on an earlier line).

But for the `f("hello")` call I cannot get the compiler to ascribe the correct line number for that.

[2015-02-09 22:06] quintesse commented on #1945
Done, finally!

[2015-02-09 22:06] #1945 closed

[2015-02-10 11:37] quintesse commented on #1862
@renatoathaydes Can you still reproduce this? Because I wasn't able to given your instructions.

[2015-02-10 12:20] #1876 closed

[2015-02-10 12:21] quintesse commented on #1876
Turned the message into something informative only. Closing.

[2015-02-10 14:08] quintesse commented on #1882
I was thinking we could maybe add a warning to the code in `LazyModuleManager` at line 61? Telling you when the compiler automatically "upgrades" the version number from 7 to 8. It's not ideal but at least you won't be so surprised when it bites you later on.

[2015-02-10 14:40] #1902 closed

[2015-02-10 14:40] quintesse commented on #1902
@tobias Better this way? Closing.

[2015-02-10 14:44] renatoathaydes commented on #1862
I have not tested this in a long time.... if you can't reproduce, then we may assume it's gone now. Do you want me to try to reproduce later? (pretty busy now, otherwise would do it right away)...

[2015-02-10 15:26] tobias commented on #1902
Much better, thanks!

[2015-02-10 15:48] quintesse commented on #1862
Ok, I'll close for now then. If you **want** you can try later and reopen if you get a different result than me.

[2015-02-10 15:48] #1862 closed

[2015-02-10 18:03] #1956 closed

[2015-02-10 18:04] quintesse commented on #1956
Not really great docs but at least it doesn't say “This option is not documented.” anymore. Closing.

[2015-02-10 18:58] quintesse commented on #2052
@sgalles If you import a JAR manually into your repositories you should use `ceylon import-jar` which would then advise you that you have a whole bunch of missing dependencies.

@FroMage The hidden causal error is `com.sun.tools.javac.code.Symbol$CompletionFailure: class file for org.gradle.util.Configurable not found` for which the message part is quite useful. But instead we're getting a compile

[2015-02-10 19:23] sgalles commented on #2052
@quintesse I used the `Export -> Java archive to Module repository` menu of Eclipse and I didn't get any error message AFAICT. Do you mean that the CLI `ceylon import-jar` will provide me with the list of missing dependencies ?

[2015-02-10 20:10] gavinking commented on #2052
Perhaps the IDE simply doesn't report the errors? It is supposed to be using the same code, isn't it?

[2015-02-10 20:14] gavinking commented on #2052
Ah no it doesn't the IDE is it's own thing.

[2015-02-10 20:16] lucaswerkmeister opened #2056 "compiler bug on lazy specification of callable attribute qualified with `this`"
[code]

1 error
<sup>Generated by [linkStackTrace](http://lucaswerkmeister.github.io/linkStackTrace/)</sup>

Found while working on ceylon/ceylon.ast#78; see also #1913 (@tombentley).

[2015-02-10 20:16] lucaswerkmeister commented on #2056
(Doesn’t occur when `s` is declared as `String s();`.)

[2015-02-10 20:50] sgalles commented on #2052
@quintesse @gavinking Ah yes ! With the CLI it is *very* clear (and very useful indeed) ! I was only relying on the IDE for this and I didn't know this hidden gem of the CLI...
[code]

[2015-02-11 18:10] jvasileff commented on #1947
One thing I just noticed is that sometimes you need control over the hash value. An example is Java's Map.Entry:

Returns the hash code value for this map entry. The hash code of a map entry e is defined to be:
    (e.getKey()==null   ? 0 : e.getKey().hashCode()) ^
    (e.getValue()==null ? 0 : e.getValue().hashCode())
This ensures that e1.equals(e2) implies that e1.hashCode()==e2.hashCode() for a

[2015-02-11 18:30] quintesse commented on #1947
Wouldn't this work as well?:

[code]

[2015-02-11 18:35] jvasileff commented on #1947
Hmm, yeah, that's easier to read :)

[2015-02-11 19:09] jvasileff commented on #2054
Could part of a solution for this also be a more general optimization for tests w/reified types?

What I mean is that, in the simple case, when the intersection of the variable's static type and the *most general form* of the desired type satisfies the desired type, why not just skip the `Util.isReified` test, and rely on just `instanceof`?

(By most general form, I mean the the type with the leas

[2015-02-13 12:58] FroMage opened #2057 "Add flag to `ceylon doc` to open the docs in the browser."
`ceylon doc --browse com.foo` should open a browser for the `com.foo` documentation. Probably it should also generate the docs, although it would be nice if it would also work for modules that are not even available locally. For example `ceylon doc --browse ceylon.language` would just open a browser either to Herd where the docs are, or fetch the docs locally and point the browser there. So detail

[2015-02-14 17:55] jvasileff opened #2058 "Interop: null assertion error on "is" test"
It would be nice if the null check could be skipped for assignability conditions.

[code]

The spec also has:

[2015-02-15 18:31] jvasileff opened #2059 "war tool doesn't support maven imports"
For example, if you have:

[code]

you get:

[code]

The reason is for this is that, in the flat repository created by the war tool, maven modules are named using only the artifact name, such as `commons-codec.jar`, rather than `group:artifact`, like `commons-codec:commons-codec.jar`.

[2015-02-15 18:34] jvasileff commented on #2059
So the **idea** of a patch for this is below. I'm not submitting this as a pull request since the code below does not include  sanitizing of filenames.

[code]

[2015-02-15 22:52] sgalles opened #2060 "Compiler error for implementation of formal method with default type parameter"
This code
[code]
compiled
[code]

[2015-02-16 12:28] tombentley commented on #2047
This should be fixed.

[2015-02-16 12:28] #2047 closed

[2015-02-16 12:54] tombentley commented on #2043
With a breakpoint on the line with `print` I can step in and first time I do so I get a stackframe for `<cinit>` that has no line number info (but that's just shown on the stackframe in the Debug view, I don't get a dialog or anything you'd call a complaint). If I step out of the `<cinit>` and then step in again I get to the constructor on line 4 as I would expect.

So I think this is working.

[2015-02-16 12:54] #2043 closed

[2015-02-16 12:54] #2046 closed

[2015-02-16 13:50] #2039 closed

[2015-02-16 13:51] tombentley commented on #2039
Thanks for reporting @sadmac7000

[2015-02-16 14:24] gavinking opened #2061 "switch statement does not compile"
I have:

[code]

I get:

[code]

[2015-02-16 14:25] gavinking commented on #2061
Same error for this `switch` expression:

[code]

[2015-02-16 15:01] #2058 closed

[2015-02-16 15:01] tombentley commented on #2058
@jvasileff I think that should work for you now.

[2015-02-16 15:22] tombentley commented on #2054
@jvasileff I'm not sure there is a "least precise type argument" to an invariant type parameter.

I'm interested in what @gavinking thinks is the right thing to do here though. It seems to me this is an unintended consequence of the else narrowing feature not playing nicely with interop `is` conditions.

    if (is JList<Element> items) {
        // never happens
    }
    else {
    }

Should we

[2015-02-16 15:49] jvasileff commented on #2054
Good point. Perhaps use site variance, like `HashMap<out Object, out Anything>` would work. I don't know if this idea has legs or not, but I think it would be really nice if it does!

[2015-02-16 17:41] gavinking commented on #2054
I think this is a bug. A runtime exception should occur for cases like this. Indeed, there is an open issue speculating that the typechecker should actually detect this kind of problem at _compile time_.

[2015-02-17 09:07] tombentley commented on #2054
Well if there is, I can't find it.

[2015-02-17 15:39] #2060 closed

[2015-02-18 06:13] jvasileff commented on #2054
@tombentley, should the original `is` that always returns false throw too?

[code]

[2015-02-18 09:47] jpragey opened #2062 "Incompatible types error in if expression"
Compiling:
[code]
prints:
[code]
Eclipse is a bit more detailed:
[code]
Compilation is fine when I replace the `if` expression by an `if` statement:
[code]

[2015-02-18 10:00] tombentley commented on #2054
Ooh, good one.  I didn't think about the possibilities for `!is`. Thanks.

[2015-02-18 10:06] FroMage commented on #2054
The problem is that you can't actually detect if the `is` test will fail until runtime. There are lots of frameworks in Java that use subtyping to implement reified type arguments.

For example:

[code]

Then this will actually work at runtime:

[code]

Because the type arguments are _fixed_ in the inheritance graph. Which is why I rejected static analysis to disallow that. This is a common patter

[2015-02-18 10:22] tombentley commented on #2053
There's a related bug when the type parameter has an upper bound, which unfortunately looks like it's harder to fix.

[2015-02-18 10:23] quintesse commented on #2054
@FroMage I'm staring at this for a while now:

[code]

And I can't figure out what this is about. Would you be willing to help out a poor sod and explain it to me? :)

[2015-02-18 10:29] FroMage commented on #2054
Java has reified type arguments _only if_ they are fixed in the inheritance tree. For example, if you do `class Foo extends List<Integer>{}` then `List<Integer>` is fixed in the inheritance tree so we can check that instances of `Foo` are indeed instances of `List<Integer>`. That is also the case in anonymous classes which can't be parameterised.

[2015-02-18 10:31] tombentley commented on #2054
@quintesse it's described here http://beust.com/weblog/2011/07/29/erasure-vs-reification/.

@FroMage I wasn't aware that our reified `is` supported this pattern though -- I thought we just used `instanceof` which is only testing raw types.

[2015-02-18 10:34] FroMage commented on #2054
No I don't think we do `instanceof` at all, unless type parameters allow that. And the same test has to work for Ceylon as well it's just regular subtyping without reification.

[2015-02-18 10:39] quintesse commented on #2054
Thanks @FroMage and @tombentley , you learn something new every day :)

[2015-02-18 15:12] tombentley commented on #2053
That was difficult, but should now be fixed.

[2015-02-18 15:12] #2053 closed

[2015-02-18 16:12] tombentley commented on #2054
I'm at a loss to know what the right thing to do here is. With a type like `JList<String>|JList<Integer>` we cannot know which alternative we have at runtime, so for the code:

    if(is JList<String> collection) {
    } else {
    }

I cannot enter *either* block. That's completely counter intuitive. Nor can I throw an exception to say that something completely counter intuitive has happened.

[2015-02-18 16:15] gavinking commented on #2054
Why can't you throw an exception?

Sent from my iPhone

[2015-02-18 16:22] tombentley commented on #2054
OK, true, I can generate an `if/else if/else` and throw in the `else` if both tests failed.

[2015-02-18 16:29] gavinking commented on #2054
Well I think you should be more aggressive about it. If one of the tests can't be determined for the given runtime instance, the error should be immediate.

Sent from my iPhone

[2015-02-18 16:31] FroMage commented on #2054
Would it make sense to throw in the `is` in certain conditions?

- If the type we're testing for requires reified generics, and
- If the instance we're testing does not support them, and
- If the instance we're testing does not _fix_ reified generics in its inheritance, and
- If the instance we're testing does implement the raw type we're testing for?

That would make reified tests work for Java i

[2015-02-19 11:33] tombentley commented on #2054
I've implemented something along the lines of what @FroMage suggested, but I'm not sure if it's getting some of the more complex cases right.

    // Java (String = j.l.String)
    interface Bug2054Java<T, U extends String> {}
    class Bug2054PartialUpper<U extends String> implements Bug2054Java<String,U> {}
    // Ceylon (JString = j.l.String)
    b = (Bug2054PartialUpper<JString>() of Object) i

[2015-02-19 11:56] #2054 closed

[2015-02-19 12:44] FroMage commented on #2054
In your example, type args are not fixed in inheritance, as they still depend on instance type arguments, so it should throw. In think you can simplify your test a lot by relying on the underlying typechecker model: if you get the non-reified type of the current instance (its `Class`) and ask for the supertype that matches the type you're testing for, and it does not contain open type parameters t

[2015-02-19 12:55] davidfestal opened #2064 "CCE: Value cannot be cast to JavaBeanValue"
More details are given in ceylon/ceylon-ide-eclipse#1237 since the error has been discovered and anlyzed in the IDE context.

[2015-02-19 16:03] tombentley commented on #2054
Well while that's certainly true in general, in this case we have an upper bound on the type parameter, so even if we don't know the actual type argument we know an upper bound for it, and depending on what question we're asking that extra bit of information might be enough, no? (The question I'm really asking is "what test case do I need to use to prove that `X` is a subtype of `Y` when `X` is on

[2015-02-19 17:09] tombentley commented on #1991
@davidfestal, this issue mentions quite a few problems, and I'm trying to understand what your *biggest* problem is. You mention code index 0 being attributed to line 5 (and you want it attributed to line 3) of the source. This that the most important aspect of this issue?

[2015-02-19 19:14] jvasileff commented on #2059
Closing since the PR was merged. Thanks!

[2015-02-19 19:14] #2059 closed

[2015-02-19 22:26] lucaswerkmeister opened #2065 "nothing in `(x else nothing)()` is cast to raw Callable, wrong return type"
When `nothing` appears in an `else` expression, which is then called, it compiles to something like this:
[code]
Note that the temporary value has a correctly parametrized type, but `nothing` is cast to raw `Callable`. Because of this, `.$call$()` returns `Object` instead of `XYZ`.

This can result in various backend errors, for instance:
[code]

  required: `ceylon.language.Empty`
  found:    `ja

[2015-02-19 23:19] lucaswerkmeister opened #2066 "Calling nothing => compiler bug in AbstractTransformer.isUnknownTuple"
[code]

compiler bug: visitor didn't yield any result at com.redhat.ceylon.compiler.java.codegen.ExpressionTransformer.transformExpression([ExpressionTransformer.java:323](https://github.com/ceylon/ceylon-compiler/blob/224affa55c11d6bb2a521d995576bd8afbebac7b/src/com/redhat/ceylon/compiler/java/codegen/ExpressionTransformer.java#L323))
compiler bug: visitor didn't yield any result at unknown

Happ

[2015-02-20 08:40] davidfestal commented on #1991
Thanks @tombentley  ! The initial problem is fixed, and debug flow is really better. I'll check today that this didn't introduced any regression regarding #2047.

[2015-02-20 09:18] davidfestal commented on #1991
and afaict there was no regression regarding #2047.

[2015-02-20 09:19] tombentley commented on #1991
@davidfestal, I think it should be OK wrt #2047.

Right now I've only fixed up the line numbers for `Tree.FunctionArgument` and `Tree.MethodArgument`, not the other instantiations of `AbstractCallable`, so I guess I 'll need to do those too before I can really close this issue. But I'll wait for you to confirm you're happy with what we've got so far before I proceed.

[2015-02-20 09:21] tombentley commented on #1991
@davidfestal, I think it should be OK wrt #2047.

Right now I've only fixed up the line numbers for `Tree.FunctionArgument` and `Tree.MethodArgument`, not the other instantiations of `AbstractCallable`, so I guess I 'll need to do those too before I can really close this issue. But I'll wait for you to confirm you're happy with what we've got so far before I proceed.

[2015-02-20 09:21] tombentley commented on #1991
@davidfestal, I think it should be OK wrt #2047.

Right now I've only fixed up the line numbers for `Tree.FunctionArgument` and `Tree.MethodArgument`, not the other instantiations of `AbstractCallable`, so I guess I 'll need to do those too before I can really close this issue. But I'll wait for you to confirm you're happy with what we've got so far before I proceed.

[2015-02-20 09:22] tombentley commented on #1991
@davidfestal, I think it should be OK wrt #2047.

Right now I've only fixed up the line numbers for `Tree.FunctionArgument` and `Tree.MethodArgument`, not the other instantiations of `AbstractCallable`, so I guess I 'll need to do those too before I can really close this issue. But I'll wait for you to confirm you're happy with what we've got so far before I proceed.

[2015-02-20 09:25] tombentley commented on #1991
@davidfestal, I think it should be OK wrt #2047.

Right now I've only fixed up the line numbers for `Tree.FunctionArgument` and `Tree.MethodArgument`, not the other instantiations of `AbstractCallable`, so I guess I 'll need to do those too before I can really close this issue. But I'll wait for you to confirm you're happy with what we've got so far before I proceed.

[2015-02-20 09:25] tombentley commented on #1991
@davidfestal, I think it should be OK wrt #2047.

Right now I've only fixed up the line numbers for `Tree.FunctionArgument` and `Tree.MethodArgument`, not the other instantiations of `AbstractCallable`, so I guess I 'll need to do those too before I can really close this issue. But I'll wait for you to confirm you're happy with what we've got so far before I proceed.

[2015-02-20 09:27] tombentley commented on #1991
@davidfestal, I think it should be OK wrt #2047.

Right now I've only fixed up the line numbers for `Tree.FunctionArgument`
and `Tree.MethodArgument`, not the other instantiations of
`AbstractCallable`, so I guess I 'll need to do those too before I can
really close this issue. But I'll wait for you to confirm you're happy with
what we've got so far before I proceed.

On 20 February 2015 at 08:40,

[2015-02-20 09:35] quintesse commented on #1991
Once was enough Tom :D

[2015-02-20 10:24] tombentley commented on #1991
Haha! My connection is *terrible* today for some reason, and without the feedback of my message appearing I just kept hitting "Comment".

[2015-02-20 10:33] tombentley commented on #1991
In the same theme, if we have an method with multiple parameter lists:

[code]
do we expect to be able to break on the partial applications?

Likewise static member references:

[code]

Note in this latter case, because there's no parameter lists we can't lay them out so we can apply a breakpoint to a particular partial application, but the question remains, should we be able to break when the fir

[2015-02-20 10:37] gavinking commented on #1991
@tombentley well it would be a nice-to-have, I guess, but partial application doesn't actually *enter* the function body, so not *necessary*.

[2015-02-20 10:40] gavinking commented on #2052
Well we need to somehow export this functionality so the IDE can reuse it.

[2015-02-20 11:01] quintesse commented on #2052
Yeah, I'm doing that now, but the API will be a bit horrible I'm afraid (the whole code is basically just about giving feedback to the user, making something that makes sense for the command line and is still  usable by the IDE does not really allow for a sane API). Well as long as it works I guess.

[2015-02-20 11:27] davidfestal commented on #1991
@tombentley : I stumbled upon something else.

With the class `ZipFileVirtualFile` available [here](https://github.com/ceylon/ceylon-ide-common/blob/278132b3f0a3c345c398bad4b628c5a87f84b5c6/source/com/redhat/ceylon/ide/common/vfs/zip.ceylon#L129), it seems that the line [269](https://github.com/ceylon/ceylon-ide-common/blob/278132b3f0a3c345c398bad4b628c5a87f84b5c6/source/com/redhat/ceylon/ide/comm

[2015-02-20 13:00] FroMage commented on #1991
Good work Tom!

[2015-02-20 13:00] FroMage commented on #1991
Good work Tom!

[2015-02-20 13:00] FroMage commented on #1991
Good work Tom!

[2015-02-20 13:00] FroMage commented on #1991
Good work Tom!

[2015-02-20 13:00] FroMage commented on #1991
Good work Tom!

[2015-02-20 13:00] FroMage commented on #1991
Good work Tom!

[2015-02-20 13:01] FroMage commented on #2054
The current subtyping algo of the typechecker does not take parameter bounds into account, that's why.

[2015-02-20 13:13] gavinking commented on #2054
You guys have lost me.

[2015-02-20 13:44] tombentley commented on #2056
Should be fixed.

[2015-02-20 13:44] #2056 closed

[2015-02-20 14:15] tombentley commented on #1991
@davidfestal: Is that any better?

@FroMage:

[code]

[2015-02-20 14:16] FroMage commented on #1991
:)

[2015-02-20 14:16] FroMage commented on #1991
:)

[2015-02-20 14:16] FroMage commented on #1991
:)

[2015-02-20 14:16] FroMage commented on #1991
:)

[2015-02-20 14:16] FroMage commented on #1991
:)

[2015-02-20 14:16] FroMage commented on #1991
:)

[2015-02-20 14:16] FroMage commented on #1991
Nooooo…

[2015-02-20 15:25] #2064 closed

[2015-02-20 15:26] FroMage commented on #2064
Fixed.

[2015-02-20 15:43] #2042 closed

[2015-02-20 15:43] tombentley commented on #2042
Fixed, thanks for reporting.

[2015-02-20 15:45] gavinking commented on #2064
Thanks, _much better_!

[2015-02-20 17:28] lucaswerkmeister commented on #2056
Thanks!

[2015-02-21 12:53] sgalles opened #2068 "Error when a member class of an interface is inherited via an abstract class"
This code
[code]
compiled
`error: Foo is not abstract and does not override abstract method Baz$new$() in Bar`

[2015-02-21 15:39] sgalles opened #2069 "Error when a member class of an interface is instanciated"
This code
[code]
compiled
[code]
Educated guess, might be related to https://github.com/ceylon/ceylon-compiler/issues/2068

[2015-02-23 10:09] tombentley commented on #2031
@gavinking after you opened this issue you had another idea in ceylon/ceylon-spec#1167 which would seem to supercede what you're describing here (or at least partially so). Are you going to implement that idea for 1.2? If so I'll wait till you've done that before starting this.

[2015-02-23 11:11] tombentley commented on #2066
@gavinking in the expression of the specifier of

    String c = nothing(4, "");

the expression's type is `unknown`, rather than `Nothing` as I would have expected. Is that a bug in the typechecker?

[2015-02-23 11:31] tombentley commented on #1991
@davidfestal do you need any more changes for this?

[2015-02-23 11:37] davidfestal commented on #1991
I'm going to check very soon and let you know

[2015-02-23 11:42] quintesse opened #2070 "Split off the JAR importer code for use in the IDE"

[2015-02-23 12:21] #2070 closed

[2015-02-23 12:23] quintesse commented on #2070
@gavinking The legacy jar import code should now be usable from inside the IDE. It's not pretty because it needs to be able to do all the "pretty printing" that the CLI tool does but I hope it suits your purpose anyway. If you want/need any changes to the API just let me know.

[2015-02-23 13:06] gavinking commented on #2066
Hrm, interesting. No it's not a big precisely, but sure, I can see how it could be better...

Sent from my iPhone

[2015-02-23 13:51] davidfestal commented on #1991
@tombentley : I cannot step over / step into correctly inside the  function `initializeChildren()` ([here](https://github.com/ceylon/ceylon-ide-common/blob/278132b3f0a3c345c398bad4b628c5a87f84b5c6/source/com/redhat/ceylon/ide/common/vfs/zip.ceylon#L200)) anymore. It seems that lines inside the generated `ZipFileVirtualFile$1buildParents_` class contains code that is linked to the line [202](https:

[2015-02-23 13:56] tombentley commented on #2061
Fixed.

[2015-02-23 13:56] #2061 closed

[2015-02-23 14:00] tombentley commented on #2066
@gavinking do those ellipses mean that a change to the typechecker will be forthcoming?

[2015-02-23 14:11] tombentley commented on #1974
I can't reproduce these errors with either the current CLI compiler or the IDE.

@lukedegruchy would you be able to confirm that they now work for you (using a compiler from current master), or otherwise give more detail on how to reproduced? Thanks

[2015-02-23 14:22] lukedegruchy commented on #1974
I can no longer reproduce the error with a ceylon IDE compiled from github this morning.  From my perspective, this is resolved.

[2015-02-23 14:22] #1974 closed

[2015-02-23 14:24] tombentley commented on #1875
@FroMage are you working on this?

[2015-02-23 14:24] tombentley commented on #1974
Great, thanks.

[2015-02-23 14:25] gavinking commented on #2066
If you open an issue, sure.

On Mon, Feb 23, 2015 at 3:00 PM, Tom Bentley <notifications@github.com>
wrote:

--
Gavin King
gavin@ceylon-lang.org
http://profiles.google.com/gavin.king
http://ceylon-lang.org
http://hibernate.org
http://seamframework.org

[2015-02-23 14:30] FroMage commented on #1875
No I'm not.

[2015-02-23 23:52] quintesse opened #2071 "`ceylon compile default` gives exception if no code is found"
[code]

[2015-02-23 23:54] quintesse commented on #2071
Opened here by accident. Closing. See ceylon/ceylon-common#51

[2015-02-23 23:54] #2071 closed

[2015-02-24 14:01] davidfestal commented on #1991
@tombentley : I'm still trying to fight against a bug that prevents me to check the whole, but I can already say 2 things :
- Thanks for removing the wrong line on `$getType$()`.
- However, since this change, the first codeIndex of synthetic methods `findFile()`, `getParent()` and `access$xxx()` are all now associated to the line [129](https://github.com/ceylon/ceylon-ide-common/blob/278132b3f0a3c

[2015-02-24 15:04] tombentley commented on #2040
This is indeed a dupe of #1875, it turns out.

[2015-02-24 15:04] #2040 closed

[2015-02-24 15:56] tombentley commented on #1875
Fixed.

[2015-02-24 15:56] #1875 closed

[2015-02-24 16:01] FroMage commented on #1875
I wonder if this is costly or not. I looks like it is. Can you measure time/memory difference between with or without this fix? If it is costly we should remember this info on the model annotations for a type.

[2015-02-24 16:16] tombentley commented on #1875
I can certainly measure the time difference. But having this information in the model doesn't really help because we'd still need to figure the same thing when confronted with declarations loaded from source.

[2015-02-24 16:34] FroMage commented on #1875
But that's what we do with the boxing visitors.

[2015-02-24 16:48] tombentley commented on #1875
Well for my trial runs it actually went faster *after* these patches and memory usage appeared very similar.

[2015-02-24 16:58] FroMage commented on #1875
Did you run the concurrent tests? If there's no difference then fine.

[2015-02-24 17:08] tombentley commented on #1991
With regard to the `access$NNN()` methods, those are generated by `javac` (during `Lower`, I think) to cope with things like inner classes which capture `private` methods of their outer class. `javac` seems to attribute the invocation of the captured `private` method within the `access$NNN()` method to the line number of the `JTClassDecl`, rather than the declaration of the delegated-to method. No

[2015-02-24 17:08] tombentley commented on #1875
Yes, the concurrent tests.

[2015-02-24 17:17] FroMage commented on #1875
OK then fine, great.

[2015-02-24 19:01] jvasileff opened #2072 "A generic method cannot define an instance of its containing interface"
The problem occurs when a method attempts to define an implementation of its interface, and the method has a parameter that involves a type parameter of the interface.

This:

[code]

fails with:

[code]

This *does* work:

[code]

which is fairly common, but this slight variation doesn't:

[code]

[2015-02-25 03:55] kingjon3377 opened #2073 ""member ... is inherited ambiguously", "method or attribute is ambiguous", when it isn't"
I'm only getting this with objects and classes that extend JMenu; I *suspect* that the fact that the method in question is protected in some superclasses but widened to "public" in a more immediate superclass may be relevant.
[code]

[2015-02-25 10:01] tombentley commented on #1991
The `getParent()` (and I assume `findFile()`) methods you're stepping into are bridge methods, again generated by javac, this time to cope with covariant return types. Again, I'm not sure there's very much I can easily do to change the line numbers those are attributed to. At the point the access methods and bridge methods are generated by Javac it basically only has a `MethodSymbol` for the thing

[2015-02-25 10:05] gavinking commented on #2073
Confirmed. @FroMage could you take a look, please?

[2015-02-25 10:20] FroMage commented on #1991
Aren't those methods marked as `synthetic` though?

[2015-02-25 10:21] gavinking commented on #1991
I'm surprised the debugger would stop at a synthetic method...

[2015-02-25 10:36] tombentley commented on #1991
Yes, they're all `synthetic` according to `javap`. I note that @davidfestal doesn't *actually* say he's stepping into them though, he's just objecting to their `LineNumberTable`s.

[2015-02-25 10:43] davidfestal commented on #1991
@gavinking : if we don't activate step filers, we will stop in them yes. it's JDT default behavior.
@tombentley : I knew that `access$xxx()` were synthetic methods delegating to private methods of the inner class, and that the `getParent()` and `findFile()` were bridge methods, all generated by Javac.
However, before your commit ceylon/ceylon-compiler@fdac993d8dc9ed4113f1dc050f8cbc827e347125, thos

[2015-02-25 10:48] tombentley commented on #1991
@davidfestal well I suppose that commit proves that we can change them, but only *en-masse*, not individually.

[2015-02-25 10:50] davidfestal commented on #1991
I see. It is probably good like that then.

[2015-02-25 11:33] #2068 closed

[2015-02-25 12:41] #2069 closed

[2015-02-25 13:45] tombentley commented on #2072
The issue here is that when we generate the implementation of `map()` in the companion class we use the type parameter name `U` but then redeclare a `U` in the implementation of the anonymous class's `map()` but in the same declaration we're still using `U` to refer to the outer classes `U`.

We can see the same thing going on if `Foo` has the following member class:

    class C<U>() satisfies Bu

[2015-02-25 13:48] FroMage commented on #2072
Do you have sample Java code to illustrate?

[2015-02-25 14:11] tombentley commented on #2072
Well cutting out a lot of the boiilerplate, the gist of it looks like this:

[code]

See how the inner `map()` declares `U` masking the one declared by the outer `map()`? Well the `final U f`  in the inner `map()` is actually the outer `map()`s `U`, so java concludes the method hasn't been implemented.

[2015-02-25 14:16] tombentley commented on #2072
This is actually going to be difficult to fix because as far as the Ceylon model is concerned there is only one `TypeParameter` so it's not like I can construct a non-ambiguous name for the type parameter -- the disambiguation is needed depending on context within the code generator, and that context flows down to into `makeJavaType()` because there could be `ProducedType`s which need to be adjust

[2015-02-25 14:31] FroMage commented on #2072
I don't follow. You're saying the inner `map.f` is resolved to the outer `map`'s `U`??

[2015-02-25 15:10] tombentley commented on #2072
No, the other way around. It must be resolved to the outer `map`'s `U` for javac to see that `map` has been implemented by the `anonymous_0_` class, but due to the masking caused by the inner `map`s `U` it resolves to that inner `U` and javac decides the method has not been implemented.

[2015-02-25 17:31] #2066 closed

[2015-02-25 17:32] tombentley commented on #2065
Fixed by the same changes which fixed #2066.

[2015-02-25 17:32] #2065 closed

[2015-02-25 17:34] lucaswerkmeister commented on #2065
Great, thanks!

[2015-02-25 20:39] sgalles opened #2074 "StackOverflowError for duplicate declaration method+object"
Follow up of https://github.com/ceylon/ceylon-spec/issues/1236

This (erroneous) code :
[code]
Compiled with the CLI :
[code]
and in the IDE
`The Ceylon Java backend compilation was aborted
  due to the following event : java.lang.StackOverflowError`

[2015-02-26 10:01] tombentley commented on #2074
Not entirely surprisingly `getTopmostRefinedDeclaration()` is flip-flopping between the `Method` and `Value` so not terminating. I can prevent that but we still have to deal with a broken model. For example, when we ask the `Method` for its refined declaration we're getting back the `Value` (the code generator is assuming only a Method can refine a Method, so it casting the result to `Method` and

[2015-02-26 10:09] tombentley commented on #2055
I don't think we can do anything about the first problem until we implement ceylon/ceylon-spec#1205. I suspect the model loader doesn't really know how to cope with ambiguity and that's what ultimately confuses the IDE. Because of the dependence on ceylon/ceylon-spec#1205 I think we should defer this to 1.3.

[2015-02-26 10:11] tombentley commented on #2031
@gavinking I'm waiting for an answer!

[2015-02-26 10:20] tombentley commented on #1868
I'm not longer able to reproduce this, so closing.

[2015-02-26 10:20] #1868 closed

[2015-02-26 10:24] tombentley commented on #2020
This is indeed a dupe of #1368, so I'm going to close this. Note: unfortunately #1368 is currently for 1.3 :-(

[2015-02-26 10:24] #2020 closed

[2015-02-26 10:25] tombentley commented on #1368
ceylon/ceylon-spec#1205 should help with this issue.

[2015-02-26 10:26] tombentley commented on #1368
ceylon/ceylon-spec#1205 should help with this issue.

[2015-02-26 10:27] tombentley commented on #1464
@quintesse any progress on this?

[2015-02-26 10:53] #2022 closed

[2015-02-26 10:53] tombentley commented on #2022
Thanks for reporting.

[2015-02-26 11:05] quintesse commented on #1464
It's very close, but I'm not making too much progress on the last issue I'm having.
The biggest part of the work has been done at least: we can now override at will if a declaration should be treated as boxed or unboxed. (That's all pushed)
And I have a visitor that looks at how locals are used and can decide to make them boxed instead of unboxed (which is what we do right now in all cases). Curre

[2015-02-26 11:15] quintesse commented on #1464
I stepped away from it for a while. I'll see if I can close it today or move it to 1.3 otherwise.

[2015-02-26 12:16] #2062 closed

[2015-02-26 12:16] tombentley commented on #2062
Thanks for reporting.

[2015-02-26 12:28] tombentley commented on #2028
Not sure why this is assigned to @davidfestal. It's a problem in the CLI compiler too, and it seems to be because the compiles doesn't know how to construct `TypeDescriptor`s for `static` member classes. @davidfestal shall I reassign this to me?

[2015-02-26 12:42] davidfestal commented on #2028
@tombentley : with pleasure !

[2015-02-26 12:43] quintesse commented on #1848
@alesj ? Any comment?

[2015-02-26 12:54] davidfestal commented on #2028
@tombentley : however tell me if I can help with it.

[2015-02-26 13:37] quintesse commented on #2002
The only difference between the two cases is that `applyErasureAndBoxing()` is called with the extra flag `EXPR_EXPECTED_TYPE_HAS_CONSTRAINED_TYPE_PARAMETERS` in the case that fails. Because no casts get added at all. I can make it work manually by forcing a cast (either a proper one or a raw cast, both work). But I have no idea what combination of checks would fix this.

[2015-02-26 13:55] quintesse commented on #2002
Hopefully the guru of erasure and boxing has an idea, @FroMage ?

[2015-02-26 14:05] FroMage commented on #2002
I'd have to understand what this is about, which I don't ATM.

[2015-02-26 14:14] tombentley commented on #2028
I thought the fix was to how we generate the `TypeDescriptor` to make it aware of `static` member classes. Making that change has reprecussions in the metamodel, because when we try to get the applied metamodel for the `ProducedType` the Declaration is neither toplevel nor local so we trying to construct a `AppliedMemberClass`, only to fall over because there's not the information about the qualif

[2015-02-26 14:23] FroMage commented on #2028
Yes, because you don't need an enclosing instance to instantiate it. But yes, we are missing the notion of member static classes in our metamodel.

[2015-02-26 14:30] tombentley commented on #2028
Sorry @FroMage, I asked the question the wrong way around. The type of `` `JavaType.StaticClass` `` is currently `MemberClass`, but we seem to agree it should be `Class`. In other words this depends on ceylon/ceylon.language#294 which is for 1.3. So I propose we defer this to 1.3 too, OK?

[2015-02-26 14:45] FroMage commented on #2028
Yes.

[2015-02-26 14:48] quintesse commented on #2026
@lucaswerkmeister Could you test this with the latest version from master? I just tried the latest revision of the gist and that seems to compile just fine. Maybe it was fixed in the mean time?

[2015-02-26 14:59] lucaswerkmeister commented on #2026
I’m still getting the error both on the gist and on `ceylon.ast`.

[2015-02-26 15:45] alesj commented on #1848
// by default we don't check sha1 on remote nodes, it should be done after download
        if (context.isIgnoreSHA() == false && node.isRemote() == false && node.hasBinaries()) {

See comment -- it looked like a good idea at that time.
But we can change this to always check.

[2015-02-26 16:55] quintesse commented on #2026
Yes, I'm able to reproduce it now... the *order* in which the files are presented to the compiler has effect on the outcome! Wow.

[2015-02-26 16:56] lucaswerkmeister commented on #2026
WTF

so how did you get a different order? re-clone resulting in different file system order?

[2015-02-26 17:00] quintesse commented on #2026
No, I added a test to our test suite where you specify the files to compile as a list. I just added the files in the order they appear in your Gist and they compile without a problem, but on the command line with `ceylon compile tmp` I got an error. When I put the files in the test in the same order as they appeared in the verbose output on the CLI I suddenly got the same error.

In fact I get the

[2015-02-26 17:00] lucaswerkmeister commented on #2026
Amazing.

[2015-02-26 17:28] quintesse commented on #2026
So for example, this order fails:

[code]

while this succeeds:

[code]

[2015-02-26 17:33] quintesse commented on #2026
The differences in generated code are minimal but important, in `ImportFunctionValueElement` I see this working code:

[code]

versus this code that fails:

[code]

Looking at the numbering it seems the two code blocks have been generated in a different order, which isn't what causes the problem, but there's also a cast missing in the failing code.

[2015-02-26 17:38] quintesse commented on #2026
The only other difference I see is in the generated meta data:

[code]

The working version has `untrusted=true` here while it's missing from the failing version.

[2015-02-26 18:10] quintesse commented on #1848
Ok, I just debugged it and I see that it checks downloaded artifacts here: https://github.com/ceylon/ceylon-module-resolver/blob/master/impl/src/main/java/com/redhat/ceylon/cmr/impl/RootRepositoryManager.java#L199 when it stores them in the cache.

So I think we can close this issue as correct @FroMage . When we upload binaries to the HErd we can include the SHA1 so the Herd can check them (if it

[2015-02-26 18:25] jvasileff commented on #2020
Ok, thanks for the update @tombentley. What's impressive is how many features and issues you guys *have* addressed in this release!

[2015-02-26 18:27] quintesse commented on #1848
Oh wait, the issue title talks about `module.xml`, sorry. I had forgotten about that part.
Well, the CMR doesn't distinguish really between binary artifacts and textual ones and textual ones supposedly could contain errors too, so I don't know, can't hurt, can it?

Btw, I've just noticed that the CMR checks SHA1s when it downloads the artifact but then it doesn't store it alongside the downloaded

[2015-02-26 18:45] quintesse commented on #1848
Ok, after checking some more the CMR does indeed **not** validate the SHA1 of any descriptors, even if they exist. Descriptor files are handled separately (https://github.com/ceylon/ceylon-module-resolver/blob/master/impl/src/main/java/com/redhat/ceylon/cmr/impl/RootRepositoryManager.java#L223)

[2015-02-26 19:39] quintesse commented on #1848
Ok, `ceylon copy` won't generate & copy SHA1s anymore for module descriptors. Closing.

[2015-02-26 19:39] #1848 closed

[2015-02-26 21:06] quintesse commented on #2026
Ok, so this seems to have to do with the way the `BoxingDeclarationVisitor` sets the "untrusted type", the value of this can depend on the value of the trusted type of a refined declaration. If that declaration hasn't been visited yet it will use the wrong value for it and therefore the final result will be wrong.

I can think of several not-so-nice ways of solving this:
 - change the call to `Cod

[2015-02-26 21:08] quintesse commented on #2026
And you could add another point to the above list:

 - make sure the `BoxingDeclarationVisitor` visits declarations in the order of least refined to most refined

But I'm guessing that would be a mayor change and maybe not so easy to do.

[2015-02-26 23:31] #2038 closed

[2015-02-26 23:33] quintesse commented on #2038
What I changed seems to fix this and doesn't break any tests nor the SDK or whatever else I throw at it, but I have the feeling it's too simple a solution, code review by @FroMage or @tombentley would probably be a good idea.

[2015-02-27 09:32] tombentley commented on #2038
tbh I don't think that fix right. It obviously fixes this issue, but it there doesn't seem to be any rational basis for that change. The type is not being used as a type argument, so it shouldn't have that flag. and I don't really see that the emptiness of the parameter list is really important.

[2015-02-27 09:41] tombentley commented on #1998
Someone needs to start work on this, unlike some of the remaining issues it's not really something we can put off to 1.3.

[2015-02-27 11:17] marvelous opened #2075 "ModelError: Expected type or function or value"
I have the following snipplet that compiles fine but throws when run.

import ceylon.language.meta.declaration {
	FunctionDeclaration,
	ValueDeclaration
}
shared final annotation class MyAnnotation(shared FunctionDeclaration fun)
		satisfies OptionalAnnotation&lt;MyAnnotation,ValueDeclaration> {}
shared annotation MyAnnotation myAnnotation(FunctionDeclaration fun) => MyAnnotation(fun);

myAnnotati

[2015-02-27 11:32] quintesse commented on #2038
Well the "rational" basis is that here we're talking about a type for a parameter that's part of a method that is implementing an interface method. So the type is not "free" to be whatever it wants, it needs to adhere to the type of the interface that already exists. And in this case only in the case of types that have type parameters.
Without that flag the type gets reduced to `List` instead of `

[2015-02-27 11:35] tombentley commented on #2051
This one is difficult and seems to members with `T` or `T?` where T has a non-erased upper bound. Thus it affects setter, methods and method parameters (and I guess the parameter types of instantiator methods too). The typechecker decides the produced type of `field` in `A` must be `Null`, and so we generate `j.l.Object`, losing sight of the fact that the result is a constrained type parameter, (a

[2015-02-27 11:53] tombentley commented on #2038
Do you understand why it decides to use `List` though? In particular, the problem is that the type in the `implements` clause is not raw, but we're then using a raw type in a member. I think understanding *that* inconsistency is the important thing, otherwise this is likely to pop up somewhere else in another guise.

[2015-02-27 11:57] tombentley commented on #2075
@marvelous it looks like this bug only affects the default module, so if you move your code to a "proper" module it should work.

[2015-02-27 11:59] quintesse commented on #2038
Sure, it's because the type has a union for a type argument, it's something like `List<Identifiable&Usable>` but overriding a `List<Element>`, so the latter gets transformed to `List<? extends Object>` and the former (without the flag) to `List`, which is okay if it wasn't overriding the type `List<Element>`.

[2015-02-27 12:02] quintesse commented on #2038
Maybe a better name for the flag would be `JT_NARROWED`? Because it's only used in the case of a narrowing refinement.

[2015-02-27 12:17] tombentley commented on #2038
So what you're saying it that when `makeJavaType()` is called using `JT_SATISFIES` we're generating List<Object>, fine I get that. What I want to understand is why we generate a raw `List` with *whatever the flags are without your patches* (you've not said). There must be some reason for going raw there, presumably based on some other test case (because we generally avoid raw types where we can).

[2015-02-27 12:20] quintesse commented on #2038
I have not mentioned `JT_SATISFIES`, we do this when *no* flags are passed, that's the default behaviour for types that have type arguments that are unions or intersections.

[2015-02-27 12:27] quintesse commented on #2038
The docs for `AbstractTransformer.rawSuperType()` state:

[code]

[2015-02-27 12:35] FroMage commented on #2051
I thought we had logic in `nonWideningType` that dealt with something that erases to `Object` overriding something that was `T`? Perhaps it's just missing the case for `T?`?

[2015-02-27 12:42] tombentley commented on #2051
No, it's really not as simple as that. The algorithm seems to go wrong, I think because within the Ceylon model `Nothing` satisfies `T`, so we don't realize there's (going to be) widening once `Nothing` is erased to `Object`.

[2015-02-27 12:50] FroMage commented on #2051
Damn. Well, then I'm out of idea. Going up to find the contraints on our side seems error-prone, but it's not like I have a better idea.

[2015-02-27 13:17] tombentley commented on #2038
That's not really a reason, it's just some documentation someone once wrote. What I want to know is if we were to generate a non-raw type what then breaks, and why. And the answer seems to be very little breaks. So I'm still wondering why we're using raw types here.

[2015-02-27 13:31] davidfestal opened #2076 "Generation of synthetic methods"
The JLS, section 13.1, states :

    A construct emitted by a Java compiler must be marked as synthetic if it does not
    correspond to construct declared explicitly or implicitly in source code, unless the
    emitted construct is a class initialization method (JVMS §2.9).

Maybe some more constructs generated by the Ceylon compiler should be marked as _synthetic_ as well :
This would allow the

[2015-02-27 13:34] lucaswerkmeister commented on #2076
This would also be nice for code coverage, since most tools for that (e. g. JaCoCo) ignore synthetic methods<sup>[citation needed]</sup>. Currently, all those delegate methods lower the reported code coverage.

[2015-02-27 13:39] tombentley commented on #2076
iirc `javac` will produce an error when user code is seen to invoke `synthetic` methods. While we could circumvent this to allow the ceylon compiler to invoke synthetic methods it had generated, it would also have an impact in terms of interop. Also, I don't know how javac would cope with a `synthetic` method that was supposed to be implementing/overriding a superclass method. I'm not saying using

[2015-02-27 14:07] quintesse commented on #2038
Well you know what they say about curiosity and cats ;)

[2015-02-27 15:05] #2075 closed

[2015-02-27 15:06] tombentley commented on #2075
Thanks for reporting.

[2015-02-27 17:08] marvelous commented on #2075
Thanks for fixing so quickly. You are right that this code works in a proper module, but it was a reduced case of a much more complex program that is failing with the same stacktrace although it is in a proper module. Is there a nightly build to test if the commit fixes also my more complex program?

[2015-02-27 17:22] quintesse commented on #2075
@marvelous There are no nightly builds right now, hopefully that will change once we release 1.2 (Real Soon Now). Right now the only way is to follow the steps described here: http://www.ceylon-lang.org/code/contribute/
HTH

[2015-02-28 20:04] jvasileff opened #2077 "error referencing function defined using lazy specifier"
I'm not sure it ever makes sense to have a variable parameter on a function defined using the lazy specifier, but doing so can result in a backend error:

[code]

[2015-02-28 20:10] quintesse commented on #2077
Indeed, doesn't really seem to make much sense. But on the other had I also don't see a reason to forbid it in the spec for example, so we should probably just fix it.
Not really high prio so assigning to 1.3

[2015-03-01 18:28] jvasileff opened #2078 "Stack overflow on reified type when using type inference"
This:

[code]

results in the runtime error:

[code]

The error does not happen with (2), where type inference is not used in the call to the `Cons` constructor. I tried to isolate the issue above, but the original problem was with `Iterable`s, as in (4) which fails in the same way. The problem does not occur with simple types, as in (5).

On JS, both (1) and (2) fail, so that led me to believe th

[2015-03-02 11:17] #2078 closed

[2015-03-02 11:21] tombentley commented on #2078
This was a bug in the way we flatten and eliminate duplicates in the Java runtime. The issue on JS must be different, so I will open a separate issue for that.

[2015-03-02 11:26] tombentley commented on #2074
@gavinking about this broken model where a `Method` claims to refine a `Value`... is that something you can prevent?

[2015-03-02 11:28] tombentley commented on #2031
@gavinking I'm still waiting to hear whether you're going to do implement the idea you had in ceylon/ceylon-spec#1167.

[2015-03-02 11:31] tombentley commented on #1928
The problem appears to have been fixed (thanks to @quintesse perhaps, since he assigned this to himself as one point), since the test is now passing. Closing.

[2015-03-02 11:31] #1928 closed

[2015-03-02 11:33] tombentley commented on #2048
@quintesse could this be the same problem you had last week with the order of source affecting the outcome of the 'untrusted type' algorithm?

[2015-03-02 11:35] tombentley commented on #2057
@thradec any thoughts about this? It's currently marked as 1.2 so if we're serious about that we should probably start working on it now, otherwise defer it till 1.3.

[2015-03-02 11:39] quintesse commented on #2048
You mean #2026 ? Perhaps, but the generated Java code is *slightly* different in that case (the untrusted type annotation), but perhaps @FroMage was comparing unannotated code in this case?
Anyway I didn't take a further look at #2026 because I'm not really sure on the best way to fix it.

[2015-03-02 11:46] gavinking commented on #2031
Well I have not yet found time to think it through.

[2015-03-02 12:28] gavinking commented on #2074
In principle, probably.

[2015-03-02 13:03] FroMage commented on #2057
This should be quick to implement, that's why I marked it 1.2, but it can wait for 1.3 if it would take too long.

[2015-03-02 13:38] thradec commented on #2057
The implementation is no problem, at least for local modules. I just wonder, that there are people who prefer to use cli for opening browser on specific url :-).

[2015-03-02 13:54] FroMage commented on #2057
Well, the use-case was as follows: using the CLI to get info on module with `ceylon info com.foo/2` then I wanted to see the docs and I had to open a browser on Herd and type `com.foo` on the search and then click some more to find the docs.

The other use-case is after building the docs you want to check them: `ceylon doc com.foo` and then manually use completion many times to get to: `chrome mod

[2015-03-02 14:01] quintesse commented on #2057
I think it's definitely a good idea.
You have to think something like `git commit --help` opens a browser on Windows as well, and so do we now (fairly recent change).

And the docs are not really something you can easily show in the console, otherwise I'd suggest a `--show` option instead of a `--browse`.

[2015-03-02 14:04] thradec commented on #2057
ok, ok, it seems that I'm not so cli addicted as others :-)

[2015-03-02 15:04] thradec commented on #2057
support for browsing local modules is done via 1285dbc

[2015-03-02 15:09] FroMage commented on #2057
OK that was indeed fast, thanks a lot :)

[2015-03-02 17:03] thradec commented on #2057
I'm not sure how to integrate this with modules that are not available locally, because now the `doc` command is described as _"Generates Ceylon API documentation from Ceylon source files"_. Wouldn't be better to create new command for this use case, eg. `browse-doc`?

[2015-03-02 17:22] FroMage commented on #2057
OK you're right, perhaps it makes sense to make this another command, but perhaps `ceylon browse` is enough for a name?

[2015-03-02 19:10] thradec opened #2079 "Create ceylon browse tool"
see #2057 for more details

[2015-03-02 19:12] thradec commented on #2057
Done (for `browse` command opened separate issue #2079)

[2015-03-02 19:12] #2057 closed

[2015-03-03 08:49] #1963 closed

[2015-03-04 00:09] ncorai opened #2080 "`ceylon import-jar` does not recognize that the `java.awt.peer` package is part of the 'java.desktop' module"
Ceylon 1.1.0, Windows 8.1, JDK 7.76 or 8.31 (makes no difference), 64 bit
Running `ceylon import-jar --descriptor=descriptors/activation-module.properties javax.activation/1.1.0 libs/activation.jar` using the following descriptor:
[code]
I see the following output:
[code]
Notes:
* I know I could `--force` the outcome but the matching `ceylon-import-jar` Ant task does not offer that possibility AFA

[2015-03-04 00:34] quintesse commented on #2080
@ncorai Well actually the `java.awt.peer` class is not officially part of `java.desktop`, it's a "hidden" package.
But we don't force you to define JDK imports anymore in the latest version of the import tool because legacy JARs implicitly have access to the entire JDK anyway. (You can still define them if you want and the import tool will still tell you about them but other than that it will igno

[2015-03-04 00:34] #2080 closed

[2015-03-04 00:54] quintesse commented on #2080
I don't think I was being entirely clear. The fact that `java.awt.peer` is "hidden" (not officially part of the `java.desktop` module) still means that you'll need to use `--force`.
And in the latest code from master the ant task does supports a `force` attribute.

[2015-03-04 09:47] tombentley commented on #1991
@davidfestal apart from the work on ceylon/ceylon-ide-eclipse#1260, so there anything this issue requires?

[2015-03-04 09:58] davidfestal commented on #2076
I understand.

[2015-03-04 09:59] davidfestal commented on #1991
No I think it's OK... at least sufficient to have a pretty good debugging experience IMO. Thanks @tombentley !

[2015-03-04 10:07] tombentley commented on #1991
OK then, closing.

[2015-03-04 10:07] #1991 closed

[2015-03-04 12:20] tombentley commented on #1998
While looking at this I found that

    object toplevel {
        shared class Member() {}
    }
    void run() {
        value z=  `toplevel.Member`;//syntex error expecting initialial lower-case identifier
    }

Of course metamodel refs to attributes and method of the anonymous class are allowed, so it's weird that classes are not. Can you explain @gavinking?

[2015-03-04 12:31] gavinking commented on #1998
I guess it's because they used to be non-denotable types. Open an issue against spec.

[2015-03-04 15:09] tombentley opened #2081 "Getting non-toplevel anonymous class declaration"
As per ceylon/ceylon-spec#1232: for a local `object` declaration, `` `class foo`.objectValue`` evaluates to null.

[2015-03-05 18:04] thradec commented on #2079
Done.

[2015-03-05 18:04] #2079 closed

[2015-03-06 21:29] tombentley commented on #1998
This is basically done, but I need to add tests for `obj.Class.Ctor`

[2015-03-07 19:08] jvasileff opened #2082 "Backend error working with denotable types for objects"
The type checker allows a value to be of a denotable object type, but the backend doesn't support this:

[code]

Although I've run into other issues that make me wonder what the correct behavior is, since values holding objects seem to want to be of type `Basic & <list of non-object types>`:

[code]

[2015-03-07 19:21] gavinking commented on #2082
As defined in §3.2.9, the typechecker goes out of its way to not _infer_ anonymous class types. You have to be explicit if you want one.

[2015-03-07 20:20] jvasileff commented on #2082
Thanks for the pointer. I really do need to spend some time studying the spec to better understand things like this and also coverage.

A naive request would be for these newly-denotable types to be inferred, in order to make it easier to avoid defining companion types like `Finished`. But I understand there may be a lot more to this.

[2015-03-08 21:17] lucaswerkmeister opened #2083 "ceylon doc: Allow to customize output via annotations"
It would be very nice if you could define custom annotations which could modify or expand the regular `ceylon doc` output. For instance:

- `examples` to put examples in a custom section, with syntax highlighting (signature `String language = "", {String*} examples = {}`, to be used with named arguments). I currently end (almost) every `ceylon.ast` node documentation with some examples, but it wou

[2015-03-09 10:33] tombentley commented on #1998
@gavinking considering the following:

[code]

When I reference the constructor `Ctor` the `Type` of the `MemberClassConstructor` (i.e. it's second type argument) is allowed to be `\ImemberObject.Ctor.Ctor`, but it should simply be `\ImemberObject.Ctor` I think. Certainly in the case of a non-default constructor the type argument must be `\ImemberObject.Ctor` and `\ImemberObject.Ctor.Other` is rej

[2015-03-09 10:58] tombentley commented on #1998
This should all now work, though my question to @gavinking above still stands.

[2015-03-09 10:58] #1998 closed

[2015-03-09 11:29] gavinking commented on #1998
@tombentley yeah OK, would you do me a favor and open a separate issue for that, please, it's nothing at all to do with metamodels.

[2015-03-09 11:32] gavinking opened #2084 "error calling constructor of member class of nested anonymous class"
[code]

Results in:

[code]

[2015-03-09 11:50] tombentley commented on #2082
The `&Basic` gets added by the call to `denotableType()` was added as the solution to #2012. I didn't realise that `denotableType()` might do that.

[2015-03-09 11:55] gavinking commented on #2082
Of course! `Basic` is a common superclass. As defined by §3.2.9, anonymous classes are replaced by the intersection of their supertypes in any inferred type.

[2015-03-09 12:23] #2084 closed

[2015-03-09 14:13] tombentley commented on #2082
The best I can really think of for this then is to remove any `&Basic` or `&Object` which might appear in the result of `denotableType()` when we're using it for type narrowing like this. Maybe @FroMage can think of something better?

[2015-03-09 14:16] FroMage commented on #2082
Well, no that seems right. I guess `simplifyType` should be amended to handle that case? Basically `&Object`, `&Basic`, `&Identifiable` and `|Null` can be dropped from any Java signature (outside of boxing for the latter).

[2015-03-09 14:20] tombentley commented on #2082
Yeah, `simplifyType()` was the first thing I reached for, but I wanted to understand why it didn't *already* simplify `T&Basic` to `T`, because that seems like a no-brainer.

[2015-03-09 14:28] FroMage commented on #2082
Never had to?

[2015-03-09 22:49] ncorai commented on #2084
`ClassContainer.\ImemberObject.Ctor` is pure ugliness. I had hoped at least it would be contained to Java interoperability and the metamodel but this is in plain Ceylon code. Sigh...

[2015-03-10 00:04] gavinking commented on #2084
@ncorai I have *never once* needed to write code like the above. This is a highly contrived example that doesn't at all reflect the kind of code that people naturally write in Ceylon.

[2015-03-10 08:40] marvelous opened #2085 "An exception has occurred in the compiler (ceylonc 1.1.0 (Ultimate Ship The Second))."
Compiling the following program:
[code]
gives me the following output:
[code]

[2015-03-10 09:20] quintesse commented on #2085
This is already fixed in the current version in `master`. Closing.

[2015-03-10 09:20] #2085 closed

[2015-03-10 10:26] #2082 closed

[2015-03-10 10:43] FroMage commented on #2084
We do have an issue open about that syntax: ceylon/ceylon-spec#1205

[2015-03-10 15:42] tombentley commented on #1983
This should now be fixed, but that bit of `makeJavaType()` could really do with being refactored.

[2015-03-10 15:42] #1983 closed

[2015-03-11 13:32] tombentley commented on #2048
This is similar to #1240, in fact. Fixing javac's subtyping algo is not really an option, since we'd end up having to teach it the principle type algorithm (it finds supertype as the first interface and returns that, we could make it continue, but `Types.asSuper()` must return a single type, so we'd need to figure out the principle type of all the super types the visitor found...) basically that's

[2015-03-11 14:19] tombentley commented on #2048
Doing that only gets rid of the first error: When we attribute the method declaration we decide that the return type of the method is incompatible with its declared return type.

What I can do though is clobber `Types.isSubtypeUnchecked()` so that when we're compiling Ceylon we apply a looser check against the raw types instead of the generic types. That wouldn't have been sufficient to fix #1240

[2015-03-11 17:09] davidfestal opened #2087 "Wrong line number for constructors"
There is for constructors an issue similar to #1991 :

for the following Ceylon code :
[code]

In the generated code, both constructors associate the first bytecode instruction of the constructor (the call to `java.lang.Object()`) to the line of the `print("")` call (the last line of the constructor body), as show by this IntelliJ bytecode view excerpt :
[code]

The associated line should be the l

[2015-03-11 17:11] davidfestal commented on #2087
By the way this is the root cause of ceylon/ceylon-ide-eclipse#1283

[2015-03-12 16:02] davidfestal opened #2088 "Build of ceylon/ceylon-ide-common fails with "compiler bug" errors"
The https://github.com/ceylon/ceylon-ide-common project, which was building correctly some days ago, now produces those errors during Ceylon build, either from the CLI or from the IDE :
[code]

Note that the `Nothing`-related warnings are expected, but that should not produce any back-end error afaik.

This seems quite critical IMO, since I don't see anything special in this code.

[2015-03-12 20:28] chochos opened #2089 "String template blows up the compiler"
This simple code makes the compiler blow up:

[code]

Seems to be related to the string template, since a simple `min([1,2,3])` works fine.

[2015-03-13 00:56] sadmac7000 opened #2090 "CompilerBoxingVisitor caused an exception visiting QualifiedMemberExpression"
Compiling this:

[code]

Causes this:
[code]

[2015-03-13 11:14] #2089 closed

[2015-03-13 11:41] tombentley commented on #2088
When compiling from the CLI I got the same error location are you, but that appears to be bogus, because attaching a debugger it seems that exception is thrown when transforming the `Tree.Variable` in the `Tree.Let` on line 180 of `CeylonProjectConfig.ceylon`.

The compiler is trying to determine whether it needs to apply variance casts. To do this asks the expression type `{String*}?` for its sup

[2015-03-13 12:01] #2090 closed

[2015-03-13 12:02] tombentley commented on #2088
Should now be fixed

[2015-03-13 12:02] #2088 closed

[2015-03-13 12:46] tombentley commented on #2048
That clobbering works and fixes this issue. But I wanted to think it through more before pushing.

One concern I had was whether javac would still generate the right bridge methods when there's more than one instantiation of a superinterface. I've not been able to cause any problems there, and I assume it's something @FroMage dealt with then he first added support for inheriting multiple instantia

[2015-03-13 13:02] FroMage commented on #2048
I agree with your proposal and I don't know at all if we breaked bridge methods or not. We haven't ever run into issues related to them until now.

[2015-03-13 13:22] #2048 closed

[2015-03-16 11:49] tombentley commented on #2002
The test now passes, so the underlying causes has presumably been fixed.

[2015-03-16 11:49] #2002 closed

[2015-03-16 12:36] tombentley commented on #2026
The test for this issue now passes, but I suspect that's due to the change I made for #2048, rather than the underlying problem being fixed. So a fix for that is still needed.

[2015-03-16 15:48] jvasileff commented on #2002
I can run the examples now, but the generated code is the same. It is still missing casts, and I guess compiles due to #2048. Is this expected/desired? If so, would it make sense to eliminate the casts that *are* added, to simplify the code?

In the first example above, the return type of `seqBuilder` is:

[code]

which we are passing as an argument to the `tail` parameter, which expects:

[code]

[2015-03-17 00:57] gavinking opened #2091 "but initializing method in constructor"
[code]

Results in:

[code]

[2015-03-17 02:32] jvasileff opened #2092 "Backend error using interface to define method refined in intervening interface"
This is easiest described by example. AFAICT, all of the elements in the code below are necessary to trigger the bug.

[code]

results in:

[code]

[2015-03-17 10:14] tombentley commented on #2002
Yes, I guess #2048 is the reason this now works.

Well that's quite an interesting question. There have been a lot of compiler bugs where problem has been getting the java type system (and specifically generic types) to work right with Ceylon types. Usually these errors come to light when assigning an expression of one type to something of another type. The solution has been to add more typecasts

[2015-03-17 11:37] tombentley commented on #2091
Fixed on `new_def_constr` branch.

[2015-03-17 11:50] tombentley commented on #2052
So @quintesse are you working on this or not?

[2015-03-17 12:00] quintesse commented on #2052
I never worked on this @tombentley , what I did was what @gavinking suggested and I split off the importer code to be reused, see #2070

[2015-03-17 12:15] tombentley commented on #2052
So afaics the IDE hasn't been changed to use that new API, so I'll open an issue for that.

[2015-03-17 12:24] tombentley commented on #2052
Now the only thing remaining to do here is decide if we can/should do something better with the `CompletionFailure`. Looking at the code we're already chaining the exceptions. Given that:

* both the official ways to import jars into repos should now warn people about missing dependencies
* there's no easy way to distinguish an "expected" `CompletionFailure` from an unexpected one
* ultimately a `

[2015-03-17 12:37] gavinking commented on #2052
Well yeah, but it's useless to me in its current form.

[2015-03-17 12:39] quintesse commented on #2052
Oh? Well I did ask for feedback but never heard from you so I thought everything was okay.

[2015-03-17 12:41] gavinking commented on #2052
You dumped it on me the day before you left for vacation.

[2015-03-17 12:43] quintesse commented on #2052
Which was already how long ago? Heh
But what's wrong with it?

[2015-03-17 12:45] quintesse commented on #2052
Maybe a better question is: what is it exactly that you need? What kind of API are you looking for?

[2015-03-17 12:46] #2052 closed

[2015-03-17 12:46] #2087 closed

[2015-03-17 12:46] #2091 closed

[2015-03-17 12:47] gavinking commented on #2052
Well I don't really remember now. I wasted a couple of hours trying to get it to do something useful, and failed, and gave up. Whatever, it wasn't at all useful to the IDE.

[2015-03-17 12:53] quintesse commented on #2052
Well that's not really helpful for me to try and figure out how to change it. I'd at least have to know what kind of functionality you want.

[2015-03-17 15:22] gavinking commented on #2052
Well I'm trying to cast my mind back, not so easy to remember, but it's something like this:

What the Export wizard is supposed to do is:

1. Let the user select a jar to export.
2. Propose a list of needed module imports. (Currently not possible via the API.)
3. Let the user add to/remove from the list. (No obvious way to persist their choices via the API.)
4. Copy the jar to the target module r

[2015-03-17 17:11] tombentley commented on #2073
I have something which seems to partially fix this, though I'm not convinced it is right. What seems to go wrong is the `TypeHierarchyVisitor.validateMemberRefinement()` asks the `TypeDeclaration` for `mwe` for its member for `processMouseEvent()`, and it's returning null. It's doing that because, in `Util.lookupMember()`, although a member with that name is found, it's been marked as overloaded d

[2015-03-18 00:36] jvasileff opened #2093 "`ceylon classpath simple` produces no output"
* `ceylon classpath simple` produces no output or errors. Previous versions worked with or without the version suffix.
* `ceylon classpath dummy` (bad module name) produces no output. Previous versions reported `ceylon classpath: Module dummy not found in the following repositories:...`
* `ceylon classpath simple/1234` (bad version) reports `Module simple not found...`, but produces a classpath an

[2015-03-18 14:01] #1882 closed

[2015-03-18 14:11] FroMage commented on #1882
Fixed, the import version is now preserved, with jdk8 considered to provide jdk7, and if you import an older jdk than the one you're using ATM you get a warning that we can't check your code will work on jdk7.

[2015-03-18 14:19] jpragey opened #2094 "ceylon doc: NoSuchMethodException"
Hi,
Running "ceylon doc" on
[code]
causes:
[code]

[2015-03-18 14:57] quintesse commented on #1882
Nice, that seems much better.

[2015-03-18 21:34] jvasileff opened #2095 "ceylon doc NPE w/new default constructors"
This:

[code]

results in:

[code]

With *just* the default constructor, the constructor is named `null` in the docs.

[2015-03-19 08:06] thradec commented on #2095
Done, thanks @jvasileff.

[2015-03-19 08:06] #2095 closed

[2015-03-19 08:58] FroMage commented on #2094
Fixed!

[2015-03-19 08:58] #2094 closed

[2015-03-19 13:23] tombentley opened #2096 "Problem with WithinOp"
The issue reported here https://github.com/ceylon/ceylon.language/issues/569

[2015-03-19 13:52] #2096 closed

[2015-03-19 13:53] #2093 closed

[2015-03-19 14:02] FroMage commented on #2093
Fixed, but looking at history, I can't find at what point in time it reported what you show here…

[2015-03-19 14:19] tombentley opened #2097 "ceylondoc: expand/collapse hierarchy too hard to click"
This is a little picky, but:

* Go to the `ceylon doc` page for `Annotated`, for example.
* Click the *Subtype hiararchy* tab
* Try to collapse/expand the hierarchy of `AnnotatedDeclaration`

The little arrow/triangle next to `AnnotatedDeclaration` is really hard to click because the clickable area is only a few pixels wide. The reason seems to be the icon for an enumerated type, which seems to bl

[2015-03-20 13:46] lucaswerkmeister commented on #2026
Thanks, then I can finally merge that branch :)

[2015-03-20 20:45] LisiLisenok opened #2098 "ceylondoc: ceylon.collection::TreeSet and ceylon.collection::TreeMap processing error"
Result of doctool processing:

error [argument must be assignable to parameter 'compare' of 'TreeSet'': 'Comparison(Integer, Integer)' is not assignable to 'Comparison(Integer, Integer)(Integer, Integer)']

The code compiles ok. If remove TreeSet from code, doctool successfuly generates documentation

code, where doctool fails:

"documentation to Foo"
shared class Foo()
{
	"sorted set of items"
	s

[2015-03-21 05:58] jvasileff opened #2099 "incompatible types w/named argument invocation inside { } and [ ]"
This:

[code]

results in:

[code]

The error also occurs when the first parameter `x` is removed (leaving just the defaulted parameter, and calling with `foo {}`).

As a workaround, the error does not occur when `foo` is qualified with `this`:

[code]

[2015-03-21 17:53] lucaswerkmeister opened #2100 "Erroneous annotations not found by javac"
[code]

Three errors on `A` and `B` (2× must be final; must directly extend `Basic`) are expected; however, there are two additional errors:

[code]
  symbol:   class B
  location: package tmp
source/tmp/run.ceylon:10: error: cannot find symbol
[code]
  symbol:   class B$annotation$
  location: package tmp

As always, [generated code](https://gist.github.com/lucaswerkmeister/efd8d1fa6d09110fadeb)

[2015-03-21 18:10] lucaswerkmeister opened #2101 "ceylon doc: Import aliased annotations are not found"
[code]

`ceylon doc` produces documentation that doesn’t include the documentation, see also, throws, deprecation, and author info, because it [searches](https://github.com/ceylon/ceylon-compiler/blob/4ee96d2b3d743f64c4d39d719ce877cfcb4de645/src/com/redhat/ceylon/ceylondoc/ClassOrPackageDoc.java#L692) for the annotations [by](https://github.com/ceylon/ceylon-compiler/blob/4ee96d2b3d743f64c4d39d719

[2015-03-21 18:14] jvasileff commented on #2099
Actually, this looks to be more general, affecting named argument invocations relying on defaulted parameters inside { }.

[code]

[2015-03-21 18:20] jvasileff commented on #2099
And also with [ ]:

[code]

In the Sequence case, qualifying with `this` does not help.

[2015-03-22 10:54] lucaswerkmeister commented on #2101
Follow-up:
[code]

The `ceylon doc` output has “Actual documentation” as `a`’s documentation and “Fake documentation” as `b`’s documentation.

Note that the fake `doc` could also be wildcard-imported from another module, with no visible indication that `doc` no longer refers to the real documentation.

[2015-03-22 11:03] lucaswerkmeister opened #2102 "ceylon doc: Annotations defined in own package have extra empty argument list"
[code]

`ceylon doc` output:

Still occurs when `anno` is defined in another source file in the same package. Disappears when `anno` is defined in another package.

[2015-03-22 19:46] jvasileff opened #2103 "interop error with annotations and static Strings"
This:

[code]

results in:

[code]

[2015-03-23 10:16] tombentley commented on #2098
This works for me. (I did have to add a type argument list `shared TreeSet<Integer> items= ...`).

Which version of Ceylon were you using @LisiLisenok?

[2015-03-23 10:33] tombentley commented on #2101
@thradec could you look at this?

[2015-03-23 10:41] LisiLisenok commented on #2098
version 1.1.0
There was type argument list in origin.
But ceylon doc (documentation compiler) showed the error above. OS Windows if it is important

[2015-03-23 10:43] tombentley commented on #2098
The bug must have been fixed during development of 1.2 then. Thanks for reporting.

[2015-03-23 10:43] #2098 closed

[2015-03-23 10:47] tombentley commented on #2100
This is basically the same as #1637: At the places we try to use `B` we don't know that we decided not to generate it because it had errors.

[2015-03-23 10:47] #2100 closed

[2015-03-23 11:13] lucaswerkmeister opened #2104 "ceylon doc: package and module literals don’t work in see annotations"
[code]
results in

[code]
results in

Package and module literals are apparently simply skipped over.

(This only happens in the special `see` annotation; it works fine in custom annotations, even with the nameless `` `package` `` syntax.)

[2015-03-23 11:44] lucaswerkmeister commented on #2077
Well, it’s definitely possible to write legal code that actually varies the parameter:
[code]
With let expressions you could also get the old value, then assign to it, then use both the old and the new value. Probably still doesn’t make sense, but I don’t think it should be illegal either.

[2015-03-23 11:48] lucaswerkmeister opened #2105 "Usage warning in ceylon help"
[code]
I think [`ceylon-sh-setup`](https://github.com/ceylon/ceylon-compiler/blob/master/bin/ceylon-sh-setup) is supposed to handle that, but it doesn’t seem to be sourced… anywhere.

Not sure if this actually belongs in this repository…

[2015-03-23 12:08] quintesse commented on #2105
And you only get this when running `ceylon help >&-` ? Or does simply running `ceylon help` cause the same error?

[2015-03-23 12:09] lucaswerkmeister commented on #2105
`ceylon help` does the same thing, it’s just not visible until you close the pager.

[2015-03-23 12:11] quintesse commented on #2105
Updating to latest of master to see if I can reproduce this because right now I can't.

[2015-03-23 12:12] lucaswerkmeister commented on #2105
I’ll update too, but I seem to remember this from at least a few days ago.

[2015-03-23 12:15] quintesse commented on #2105
It might have unknowingly fixed this in the stuff I've still got to merge.

[2015-03-23 12:52] #2099 closed

[2015-03-23 12:53] tombentley commented on #2099
Should now be fixed.

[2015-03-23 13:25] #2103 closed

[2015-03-23 13:26] tombentley commented on #2103
Thanks for reporting.

[2015-03-23 13:30] tombentley commented on #2104
@thradec could you look at this one please?

[2015-03-23 13:31] tombentley commented on #2102
Another one for @thradec if he's able.

[2015-03-23 14:19] tombentley commented on #2074
As @gavinking mentioned on ceylon/ceylon-spec#1249 this stack overflow no longer happens, but we still get a backend error because we try to generate a `@Member` model annotation which references the object we didn't generate because it got the error (so if you swap the order of the `func`s the backend error goes away).

So this is now similar to #1637 where we basically enough information availab

[2015-03-23 14:31] jvasileff commented on #2099
Looks good, thanks!

[2015-03-23 16:39] FroMage commented on #2073
Oh, sure, dump it on me, as if I remember if we're supposed to have abstract methods for single overloads that overload stuff from the supertype. I do remember that question popped up several times, and unless we already have an issue open to record this, I guess the answer was that we didn't need it.

[2015-03-24 07:46] thradec commented on #2104
Done.

[2015-03-24 07:46] #2104 closed

[2015-03-24 08:23] thradec commented on #2102
Done.

[2015-03-24 08:23] #2102 closed

[2015-03-24 09:01] FroMage commented on #2072
OK so this one is a lot tougher than it seems, because:

[code]

Which gives us a `ProducedTypedReference` for `Foo.map.#1.map` of type `<U> Foo<U>(U t, U u)` which we need to rename to `<RenamedU> Foo<RenamedU>(U t, RenamedU u)` because only the first parameter is substituted, so we need to keep track of which parts of a `ProducedType` has come from type argument substitution. I have a fix for th

[2015-03-24 09:37] lucaswerkmeister commented on #2102
Thanks!

[2015-03-24 10:00] tombentley commented on #2072
This might be useful for fixing #2051 too.

[2015-03-24 10:39] lucaswerkmeister commented on #2104
I get `package null` (in red) using the `` `package` `` syntax.

[2015-03-24 11:09] thradec commented on #2104
<code>\`package\`</code> is syntax for current package?

[2015-03-24 11:09] lucaswerkmeister commented on #2104
Yep.

[2015-03-24 11:10] thradec commented on #2104
ups, something new each day :-)

[2015-03-24 12:13] thradec opened #2106 "Ceylondoc support for class/interface literals without explicit name"
see #2104

[2015-03-24 20:16] jvasileff commented on #2077
Oh, nice @lucaswerkmeister! I forgot about that. Now I can *finally* write a memoizer without ugly braces!

[code]

[2015-03-24 20:17] lucaswerkmeister commented on #2077
Wow, that’s fancy.

[2015-03-24 21:36] sgalles opened #2107 "`Null at Naming.escapeClassName` for incomplete class definition"
FTR was https://github.com/ceylon/ceylon-ide-eclipse/issues/1264

* Create a JVM project
* Create a module named `org.boo` (really use this name)
* Create a package named `org.boo.api` (really use this name)

In `org.boo/run.ceylon` add this code
[code]
In `org.boo.api/run.ceylon` add this (erroneous) code
[code]
You should get
`compiler bug: null at com.redhat.ceylon.compiler.java.codegen.Naming.

[2015-03-24 22:15] quintesse commented on #2077
I might be completely wrong but I doubt that will work, the `memo` wouldn't be stored between calls to the function AFAIK.

[2015-03-24 22:19] lucaswerkmeister commented on #2077
@quintesse seems to work as intended. [gist](https://gist.github.com/lucaswerkmeister/84fb2b308421711e2e95)

[2015-03-24 22:31] quintesse commented on #2077
Color me surprised :)

[2015-03-24 23:17] gavinking commented on #2077
Haha, cool :)

Sent from my iPhone

[2015-03-24 23:39] quintesse commented on #2077
I hadn't really noticed the extra pair of parenthesis, nice :)

[2015-03-25 10:02] tombentley commented on #2107
I can't reproduce this at the moment (using current master of compiler, ide, etc). I had to create the `org/boo/api/run.ceylon` compilation unit, and apart from that I followed the instructions to the letter. @sgalles can you confirm this is repeatable for you? If so could you zip up your project and share it somewhere?

[2015-03-25 11:58] gavinking commented on #2107
@tombentley I think @sgalles says it only happens in the IDE.

[2015-03-25 12:00] tombentley commented on #2107
Yes, I tried it in the IDE.

[2015-03-25 15:03] tombentley commented on #2073
Well I've pushed my patch as a work in progress, but I'm not sure it's right.

Well maybe we didn't *think* we needed it.

TBH I don't understand how this stuff is supposed to work, though. I mean having a method that's overloaded but there not being an abstraction method *seems* to be wrong, but even when I fix that there are still weird things going on. For example given the Java

[code]

(which

[2015-03-25 22:14] sgalles commented on #2107
So, it happens that it is crazy hard to reproduce but I can reproduce it (using current master)
This is my project :
http://stephane.galles.free.fr/ceylon/misc/tests/test52.zip
but on my Windows PC it seems that the problem shows up only when the project in physically in the workspace (it means that you should select `copy project into workspace` when you're going to import the project). And also

[2015-03-26 00:20] jvasileff commented on #2107
I can reliably reproduce, even after changing line endings to LF, changing the encoding to UTF-8, commenting out the run method in `org.boo/run.ceylon` (but leaving the `import`), in a project outside of the Workspace directory on OS X, etc. The `compiler bug: null ...` error appears along with at least 4 others after I re-save org.boo.api's run.ceylon.

But what I can't do is reproduce the error

[2015-03-26 08:30] sgalles commented on #2107
Ah !  thanks @jvasileff. In retrospect I had the feeling that it could have something to do with the name of the directory, but I could not pinpoint it.

[2015-03-26 09:55] tombentley commented on #2107
OK, I can reproduce now, thanks @sgalles and @jvasileff!

[2015-03-26 10:16] gavinking opened #2108 "audit all uses of Character.toLowerCase()/isLowerCase()/toUpperCase()/isUpperCase()"
There are various places where the backend does case-related stuff with `char`s instead of codepoints. We need to find and fix them all.

[2015-03-26 11:34] tombentley commented on #2107
The NPE with `com.redhat.ceylon.compiler.java.codegen.Naming.escapeClassName(Naming.java:1348)` seems to be caused by trying to generate the interface `Project`.... we have to generate a class literal for its `@Members` model annotation and because we compute that from the (broken) model for the incomplete class/class alias we encounter a null name in a `ClassAlias` where we normally wouldn't . So

[2015-03-27 10:11] thradec commented on #2101
to fix this, I'm waiting to ceylon/ceylon-spec#1267

[2015-03-27 12:33] thradec commented on #2101
Fixed (except situation with anonymous annotation, because in model it's represented as annotation with name doc, regardless import aliases or custom annotation with same name, see issue ceylon/ceylon-spec#1267)

[2015-03-30 13:14] FroMage opened #2109 "Cannot use `Annotation$Proxy` because it's not a valid Ceylon identifier"
It's nice to generate these classes for interop, but we can't use them. So for instance I can't do `pkg.annotatedDeclarations<ClassDeclaration, Entity$Proxy>()` to get JPA bean classes. That's quite incredible that we have this feature and not a single test for it. The Ceylon parser just won't allow me to import them.

[2015-03-30 23:38] quintesse opened #2110 "Add `ceylon.language` dependency to generated module descriptors"
Right now we always treat the `ceylon.language` dependency as being implicit, you can't import it, it won't be included in generated module descriptors (`module_.class`) and if present will be actively stripped.

We shouldn't do this anymore. Knowing which version of the language module was used to compile a module is useful information and shouldn't be thrown away. We should at least add it to th

[2015-03-30 23:46] #2110 closed

[2015-03-31 10:11] quintesse commented on #2105
@lucaswerkmeister , now that I pushed all my stuff could you check if the problem went away for you?

[2015-03-31 12:36] lucaswerkmeister commented on #2105
I still get the same results here.

[2015-03-31 12:56] lucaswerkmeister commented on #2105
Weird, no such output on the server. Seems like a problem on my local setup.

[2015-03-31 13:09] quintesse commented on #2105
Do you perhaps have any non-standard `ceylon-xxxx.sh` plugin scripts in your environment?

[2015-03-31 13:09] lucaswerkmeister commented on #2105
the formatter script perhaps?

[2015-03-31 13:11] quintesse commented on #2105
Well I consider that one pretty standard already heh
No, maybe some experiment you did with weird naming or something like that.
It's almost as if in your case it gets confused and thinks "ceylon" itself is a shell plugin script.

[2015-03-31 16:53] quintesse opened #2111 "Allow modules to install an OS-level command on the user's PATH"
Be able to do something like:

    $ ceylon command install example/1.0.0
    $ example
    [example's output here]

This is closely related to the `ceylon plugin` tool which allows you to install extensions to the `ceylon` command. But instead of installing a sub-command for the main Ceylon tool it would install a completely independent script.

The way I would imagine this to work is to create/c

[2015-03-31 19:01] luolong commented on #2111
How is this exactly better than aliasing bash commands?

[2015-03-31 20:07] quintesse commented on #2111
Literally speaking not much, but it would be a generic way to create those aliases across OSes, so instead of having to explain to people how to create a) aliases on Linux and MacOS and b) batch files on Windows and then how to add them to their startup scripts or path you can just show the command. A single cross-platform way of handling things.
(You would have to set the PATH once, but a Ceylon

[2015-03-31 23:12] quintesse commented on #2105
Can anyone else reproduce this? @FroMage @davidfestal @chochos ?

[2015-04-01 03:55] chochos commented on #2105
nope... nothing happens with the `>&-` and no error shows up with plain `ceylon help`

[2015-04-01 08:07] quintesse commented on #2105
Thanks @chochos . So I'm going to close this, if you can find a way to reproduce this somewhere else besides your local system you can reopen this issue again @lucaswerkmeister

[2015-04-01 08:07] #2105 closed

[2015-04-03 12:00] thradec commented on #2097
Done.

[2015-04-03 12:00] #2097 closed

[2015-04-03 14:50] FroMage opened #2113 "Cache folder created in home dir even with --cacherep specified"
Apparently, even with `--cacherep` specified, the system will try to create a cache repo at `~.ceylon/cache` (and it fails on OpenShift). Using the `-Dceylon.cache.repo` setting fixes that, but it should not be required.

I know this issue probably belongs somewhere else, but no clue if common or CMR so filing here.

[2015-04-04 16:33] FroMage opened #2114 "Cannot pack a CLI plugin when there's more than one in the user repo?"
[code]

As you can see, the version _is_ specified.

[2015-04-04 16:57] FroMage opened #2115 "ceylon copy sometimes truncates files to zero size"
[code]

[2015-04-07 10:17] gavinking opened #2116 "constructor references in annotations"
I wrote:

[code]

I got:

[code]

[2015-04-07 12:38] tombentley commented on #2109
Well the use case we were solving at the time was how to apply a Java annotation to a Ceylon declaration at compile time. The solution involved creating fake `Annotation$Proxy` classes, as you observe.

We overlooked the problem of how to read a Java annotation from something at runtime. Using the proxy is certainly one way, but maybe providing a function in `ceylon.interop.java` would also work,

[2015-04-07 14:19] FroMage commented on #2109
I can't use a function anywhere for that, I need to pass it as a _type_ argument ;)

[2015-04-07 14:30] jvasileff opened #2117 ""ceylon compile --suppress-warning" throws"
unless followed by `="..."`.

[code]

[2015-04-08 08:19] tombentley commented on #2109
FTR, can you explain your actual use case?

[2015-04-08 08:27] FroMage commented on #2109
I did ;) finding all classes annotated with `@Entity` using our metamodel.

[2015-04-08 08:42] tombentley commented on #2109
OK, true :-) I guess we need to either make the proxy class name denoteable, try to persuade @gavinking to allow `$` in identifier names (most unlikely), or support some kind of quoting.

The simplest option is the first one, but it means that the proxy's name necessarily tramples all over the namespace of a java package. After all there might be a Java class/interface called `AnnotationProxy` or

[2015-04-08 08:45] FroMage commented on #2109
Well, I figured we already create `annotation__type` and stuff so we might as well go the same way.

[2015-04-08 08:46] FroMage commented on #2109
meaning `Annotation__Proxy` except I'd call it `Annotation__Type` or something less ambiguous than "proxy".

[2015-04-08 09:00] #2116 closed

[2015-04-08 10:41] quintesse opened #2118 "Compiler error with generic inner classes"
The following code:

[code]

results in this compiler error:

[code]

if you change the `FunctionsObserver` type parameter's name from `U` to something else, say:

[code]

you'll get a very nasty:

[code]

The problems go away the moment you make the inner class non-shared.

[2015-04-08 10:43] quintesse commented on #2118
The generated code in the first case is:

[code]

[2015-04-08 10:45] quintesse commented on #2118
In the second case its:

[code]

[2015-04-08 11:14] gavinking commented on #2116
Thanks!

On Wed, Apr 8, 2015 at 11:00 AM, Tom Bentley <notifications@github.com>
wrote:

--
Gavin King
gavin@ceylon-lang.org
http://profiles.google.com/gavin.king
http://ceylon-lang.org
http://hibernate.org
http://seamframework.org

[2015-04-08 11:45] tombentley commented on #2108
Audited.

[2015-04-08 11:45] #2108 closed

[2015-04-08 12:20] tombentley commented on #2109
Of course this is never going to work, because at the point of use we go referring to this `Annotation__class` that doesn't exist. In particular, at compile time we try using that as a type parameter, and because javac doesn't know about our synthetic class it rejects such code.

[2015-04-08 13:33] tombentley commented on #2118
The first problem is basically the same as https://github.com/ceylon/ceylon-compiler/issues/2072.

[2015-04-08 13:46] gavinking commented on #2108
Thanks!

On Wed, Apr 8, 2015 at 1:45 PM, Tom Bentley <notifications@github.com>
wrote:

--
Gavin King
gavin@ceylon-lang.org
http://profiles.google.com/gavin.king
http://ceylon-lang.org
http://hibernate.org
http://seamframework.org

[2015-04-08 13:53] tombentley commented on #2118
The second problem is now fixed. I'm going to close this, since it's now essentially a dupe of #2072.

[2015-04-08 13:53] #2118 closed

[2015-04-08 14:35] FroMage commented on #2117
Excellent, thanks!

[2015-04-08 14:36] #2117 closed

[2015-04-08 14:44] tombentley commented on #2109
I'm increasingly inclined to think we simply shouldn't try to address this use case. Package already has `members()`, and it's then pretty trival to `select()`/use a comprehension to select what you want using the Java reflection API. At worst you need to use `typeLiteral()` and some boilerplate to convert your type parameter to a Java class.

Indeed there's an argument that `annotatedMembers()` i

[2015-04-09 09:46] FroMage commented on #2109
I don't get it: we just have to special-case it in `makeJavaType` so that `Annotation__class` is turned into `Annotation`, no?

Consider methods in Java declared as: `<T extends Annotation> Annotation getAnnotation(Object instance)` then how can I call it unless I can refer to the annotation type? I have to call `getAnnotation<Entity__class>(obj)` so I must be able to refer to the annotation type.

[2015-04-09 09:54] tombentley commented on #2109
Well, no, that would not work because we would then go passing a type argument `JavaAnnotation` to a type parameter which was constrained to be a subtype of `OptionalAnnotation`, which the Java annotation type would not (and could not) satisfy, so we'd just get a different error from the backend.

[2015-04-09 13:51] FroMage commented on #2109
OK well we're getting to a good reason, that Java annotation types don't actually implement `ceylon.language.Annotation` but then we can't even iterate package members to check their annotations because again `AnnotatedDeclaration.annotations<A>() given A satisfies Annotation` so we're double stuck. Perhaps we need to erase `ceylon.language.Annotation` to `java.lang.Annotation`?

Also, there's a p

[2015-04-09 13:51] FroMage commented on #2109
Did you close it intentionally? Because as you say it does not look like enough, no?

[2015-04-09 14:04] tombentley commented on #2109
Sorry, I accidentally pushed that commit, which had the incorrect assertion that it fixed this issue, thereby closing it.

[2015-04-09 14:17] tombentley commented on #2109
If we provided a bridge between `ClassOrInterfaceDeclaration` -> `j.l.Class` (and `FunctionDeclaration` -> `j.l.Method`, but `ValueDeclaration` is less easy) it would be relatively easy to write the necessary predicate against the Java reflection API rather than our metamodel API. I fully accept that that's not *nice* or anything, but it would be *possible*.

Interesting idea, and I can't immediat

[2015-04-09 20:00] lucaswerkmeister commented on #2083
I’ve started working on this in the `docSection` branches of my forks. See lucaswerkmeister/ceylon.language@07b2ecc for the interface I settled on (simple but hopefully sufficiently powerful).

[2015-04-10 09:56] FroMage commented on #1464
Let's move it to 1.3

[2015-04-10 09:57] FroMage commented on #2026
Let's move it to 1.3

[2015-04-10 09:57] FroMage commented on #2031
Let's move it to 1.3?

[2015-04-10 09:57] FroMage commented on #2051
Let's move it to 1.3

[2015-04-10 09:58] FroMage commented on #2072
Let's move it to 1.3, it's really hard to fix.

[2015-04-10 09:58] FroMage commented on #2073
Unless @gavinking responds, Let's move it to 1.3

[2015-04-10 09:58] FroMage commented on #2081
Is it easy to fix?

[2015-04-10 09:58] FroMage commented on #2092
Let's move it to 1.3

[2015-04-10 10:00] FroMage commented on #2107
Well, #1637 is for 1.3 so Let's move it to 1.3

[2015-04-10 10:01] FroMage commented on #2111
I'd move this to 1.3, no?

[2015-04-10 10:01] FroMage commented on #2109
It looks like it'd work, it's not like `j.l.a.Annotation` has any useful members.

[2015-04-10 10:06] tombentley commented on #2081
Well in https://github.com/ceylon/ceylon-spec/issues/1232 @gavinking seems *vaguely* interested in changing the API, but involves adding a whole new interface (`AnonymousClassDeclaration`) with a knock-on effect of needing a subclass of FreeClass, and to be honest it looked like a lot of work for a *slightly* nicer API. I thought there were more important things to do.

[2015-04-10 10:51] quintesse commented on #2111
Sure, no problem, I would like your opinion on this issue though :)

[2015-04-10 12:38] gavinking commented on #2073
I don't believe it's a bug in the typechecker unless someone can show me _how_ it is a bug in the typechecker. It sounds like a model loader problem to me.

[2015-04-11 11:41] lucaswerkmeister commented on #2083
I’ve run into a serious problem.

As far as I understand, `ceylon doc` uses only the compiler-internal model (`com.redhat.ceylon.compiler.typechecker.model`). For this feature to work, however, we need to actually evaluate the Ceylon code (evaluate `string` to get the section content), i. e. run the compiler-generated code, which probably requires very major changes to the way the tool works. Is t

[2015-04-11 14:19] quintesse commented on #2083
I'm not sure I understand, why would you need to evaluate the Ceylon code? Can you given an example?

[2015-04-11 14:23] lucaswerkmeister commented on #2083
Under my proposed system (see the commit linked above), this is the `SeeAnnotation` class:
[code]
`ceylon doc` would evaluate `annotations<SeeAnnotation>(...).string` to get the content of the “See also” section.

[2015-04-11 19:40] gavinking opened #2120 "shortcut method refinement with ="
This code:

[code]

Results in:

[code]

[2015-04-11 19:45] quintesse commented on #2083
Ah, ok, understood... but I don't know, to me it seems to be turning the responsibilities on its head. To me the annotation should be something semantic, the way how it's treated/presented depending on the one doing the compilation/transformation/etc
Wouldn't a system of plugins for the doc tool be a better way to go?

[2015-04-11 20:22] lucaswerkmeister commented on #2083
I don’t know. Separating semantics from presentation makes sense, I guess, but I think they’re still fairly well separated – all the `docSection` annotation provides is the plain text section title and the Markdown section content: how exactly you present that is still up to the renderer. (The HTML renderer would add the annotation class name as CSS class, so we could still [make the “By” and “Lic

[2015-04-11 21:19] jvasileff opened #2121 "Provide way to reference generated annotations in Ceylon"
Java annotations generated by Ceylon are of the form `AnnotationClass$annotation$`, making them inaccessible from Ceylon code.

This was originally [discussed](https://groups.google.com/forum/#!msg/ceylon-dev/HTPUVzc83hc/MJuPvAiLLQwJ) on the dev mailing list.

@tombentley  noted:

@lucaswerkmeister suggested:

[2015-04-11 21:21] jvasileff opened #2122 "Ability to generate Java annotations with Class<...>[] field types"
Java annotations may have fields of type `Class<...>[]`, and it may be useful to define such annotations in Ceylon for interop with Java APIs such as `javax.validation`, that per <http://beanvalidation.org/1.0/spec/#constraintsdefinitionimplementation-constraintdefinition-properties> requires:

[code]

The closest approximation I’ve found in Ceylon is:

[code]

but compiles to `String[]` (IIRC).

[2015-04-12 01:39] jvasileff commented on #2083
Assuming the general concept is workable, can't all of the ideas above just be jumbled together?

1. Keep annotations semantically clean
1. Define a plugin interface that can start with just two features - a list of supported annotations and a method to generate markdown for an annotation
1. Enable plugins for a module through an annotation on the module itself
1. All enabled plugins must be impor

[2015-04-12 11:25] lucaswerkmeister commented on #2083
I wouldn’t consider these to be benefits. It sounds like violating the semantic annotations: Why would you want to throw away information, or abuse an existing annotation for your own purposes?

But then you have a circular dependency: The main module imports the plugin module, and the plugin module imports the main module (to specify its annotations as type argument to `Plugin`).

[2015-04-12 14:40] jvasileff commented on #2083
I mean something like Cayla's `route` annotation, which notes the paths and http methods associated with a class. You may wish to add a plugin to have this documented in a certain way.

More generally, I agree with separating content/metadata from usage directives. I believe even `spec` is better seen as a metadata rather than a ceylon-doc directive. (But really, I'm just sharing ideas here - no b

[2015-04-12 16:27] lucaswerkmeister commented on #2083
Hm, that `route` annotation is a nice example. Perhaps it does make sense to allow additional documentation for any annotations.

Not sure what the interface for that could be… perhaps your `Plugin.markdown` would also take a `Declaration` in addition to an `Annotation`, and a plugin for the annotations `Nothing` would, as a special case, be called for any `Declaration` (including the module descr

[2015-04-12 16:28] lucaswerkmeister commented on #2083
The question remains: Is any of this even possible with the way `ceylon doc` currently works? (It’s a pity GSoC proposals are over, “rewrite `ceylon doc` in Ceylon” sounds tempting.)

[2015-04-13 06:23] thradec commented on #2083
For me, it sounds as interesting ideas for some future version, written in pure ceylon. But I think, that for now, ceylondoc is good enough for current needs and I would rather invest our time to improve other areas, eg. sdk.

[2015-04-13 09:04] davidfestal opened #2123 "Synthetic flag on `$call$()` method of `AbstractCallable` local classes for method references."
Give the following code :
[code]
the Java backend generates `AbstractCallable` local classes whose `$call$` method is just a call to the `f_.f()` or `f2_.f2()` method, and this class will be used only here :
its sole purpose seem to be able to pass the reference to the given function and correctly manage (un)boxing.

In this specific case (`AbstractCallable` used for function/method reference), it

[2015-04-13 09:53] tombentley opened #2124 "Broken `is` transformation"
[code]

[2015-04-13 10:34] #2124 closed

[2015-04-13 11:12] gavinking opened #2125 "optimize smallest()/largest() (and min()/max()?) for Integer, Float"
Currently `smallest()` and `largest()` always box their arguments. I think we should optimize them for `Integer` and `Float` arguments, adding native impls with `long` and `float` parameters.

A similar optimization is possible for `min()` and `max()`, I guess.

[2015-04-13 11:18] quintesse commented on #2125
PS: I have always thought we should have a generic mechanism for this, something where, in a declaration, you can mark one of its type parameters as being optimizable. The compiler would then generate extra native implementations. That way this optimization becomes available for everyone and everything.

[2015-04-13 11:31] gavinking commented on #2125
@quintesse That sounds like I good idea but I don't understand why you would need to explicitly mark anything. Just do it: generate the optimizations for any of `String`, `Integer`, and `Float` that are assignable to the constraint.

[2015-04-13 11:33] quintesse commented on #2125
@gavinking sure, but that would mean quite an explosion of extra methods, is that maybe something to worry about?

[2015-04-13 11:39] gavinking commented on #2125
Perhaps. But generic methods are not all that common.

[2015-04-13 12:01] quintesse commented on #2125
True.
And this would be something that is only reflected in the *implementation* of the class, right?
Meaning that the public interface as visible from let's say Java would still just show a single generic method but the implementing class would have several extra methods.
So something like this would *not* use the optimization:

[code]

but this would:

[code]

am I right?

[2015-04-13 12:24] gavinking commented on #2125
It would appear as an overloaded method to Java clients.

On Mon, Apr 13, 2015 at 2:01 PM, Tako Schotanus <notifications@github.com>
wrote:

--
Gavin King
gavin@ceylon-lang.org
http://profiles.google.com/gavin.king
http://ceylon-lang.org
http://hibernate.org
http://seamframework.org

[2015-04-13 12:40] quintesse commented on #2125
Yes, but what I mean is overloaded *only in the implementation class* , not in the *interface* (which would mean everybody would have to implement those methods even if  in your class you only use it with Identifiable types)

[2015-04-13 12:44] gavinking commented on #2125
I think it's perfectly fine if we don't do this for interface methods for now. Do it only for non-`formal` non-`default` methods of classes.

[2015-04-13 12:53] quintesse commented on #2125
Ok, still, I hope that at some time we'll get super-optimized versions of thing like `get()` in `List` ;)

[2015-04-13 12:57] gavinking commented on #2125
Well, sure, but that's much trickier.

[2015-04-13 13:08] davidfestal opened #2126 "Offer a @Source annotation to indicate the Ceylon native declaration source file name associated to a Java implementation source file"

[2015-04-13 13:32] jvasileff commented on #2125
This would cause binary compatibility to break for methods when they are made `default` (after previously being non-`default`). Perhaps it should be limited to non-`shared` methods for now?

[2015-04-13 14:17] FroMage commented on #2073
Well, the thing is that we don't know what the typechecker expects, apparently. I'm moving it to 1.3.

[2015-04-13 14:18] FroMage commented on #2073
Mmm, it is set to 1.3 already. That issue tracker is nuts. The last move makes it look like _I_ moved it from 1.3 to 1.2 but it's at 1.3 now. No idea.

[2015-04-13 14:18] FroMage commented on #2081
OK, then 1.3

[2015-04-13 14:24] FroMage commented on #2083
Well, currently, `ceylon doc` runs on source files, which means it should not require anything to be compiled already, and if you want to evaluate some code it means you have to compile it first. That makes a change in requirements and forces a compilation first. Note that we'll still need the source because not everything is preserved in the compiled file (for example constant values or defaulted

[2015-04-13 14:25] FroMage commented on #2111
Well, I haven't understood why we're in the business of shipping non-ceylon commands ;)

[2015-04-13 14:27] FroMage commented on #2121
Isn't that a duplicate of #2109? Reopen if not, but it looks that way to me.

[2015-04-13 14:29] FroMage commented on #2126
Why can't we make the association during typechecking? Presumably we have to typecheck both the `native` declaration (empty) and its backend-specific implementation (to check its signature, which we don't do ATM).

[2015-04-13 14:32] davidfestal commented on #2126
Currently, the Ceylon source is not typechecked : either it is directly compiled from Java or loaded from the binary archive from the model loader, since the model is loaded from binary

[2015-04-13 14:35] FroMage commented on #2126
Yes, but that's always been wrong and a hack special to the language module. Ideally we should check both to compare the signature, and indeed any generalisation for users such as what @quintesse is working on ATM on ceylon/ceylon-spec#500 would have to check both.

[2015-04-13 14:43] davidfestal commented on #2126
@FroMage : I'm OK with that. @quintesse was proposing this `@Source` annotation as a simple solution to meet this purpose. But I'm OK, if you prefer let's postpone this for when the whole backend-specific thing will have been  fully thought.

[2015-04-13 14:54] FroMage commented on #2126
Right, I think we should.

[2015-04-13 15:13] quintesse commented on #2111
Because we're in the business of allow people to write software? :)
And this is about commands written in Ceylon after all.
In no other way could a developer create a module `Foo` that provides a command `foo` to the user's system that easily.
I saw this done for NPM modules and it seems extremely useful to me.

[2015-04-13 15:18] FroMage commented on #2111
Mmmm, I see what you mean, so it's sorta like Debian packages. Perhaps it makes sense, but I'm still not sold this isn't done better with a Debian package (well, you could argue that there are no such mechanisms for Windows, but still if I look at the nightmare that `gem` is, I wonder if we'd be doing the right thing following that madness)

[2015-04-13 15:25] quintesse commented on #2111
I would indeed say that heh :)

And honestly, making RPM packages is either doable but you'll have to distribute them yourself or you try to make RPM packages that can be officially distributed and then it suddenly becomes really hard.

I'm not really aware what madness `gem` has created though. Would simply copying a shell/batch file to ~/.ceylon/osbin cause the same kind of problems?

[2015-04-13 15:30] FroMage commented on #2111
Well, the madness is that we're using non-OS tools to install _programs_ as opposed to expressing lib dependencies. It never works as well as OS tools.

[2015-04-13 15:40] quintesse commented on #2111
Perhaps, but I'm not seeing anyone creating Ceylon-based packages for applications for Debian or RedHat any time soon.

And if you do `ceylon run something.not.already.installed` then you're also installing a program, aren't you?

Besides, think of the cool demos you could do :)

[code]

[2015-04-13 15:50] FroMage commented on #2111
Well, but then people are going to ask for scripts run before/after installation and all that OS packages provide, so where do we draw the line?

[2015-04-13 15:52] quintesse commented on #2111
No no, right there, no other scripts please! hehe

[2015-04-13 15:57] jvasileff commented on #2121
If I understand correctly, the other one is for synthetic Ceylon annotation classes for Java annotations, whereas this is for generated Java annotations for real Ceylon annotation classes (so, not a dup).

[2015-04-13 16:02] FroMage commented on #2121
Mmm, but why do you need to differentiate `CeylonAnnotation` from `CeylonAnnotation_class` then? Presumably they're the same class, no?

[2015-04-13 16:08] jvasileff commented on #2121
Well, it's that when a Ceylon annotation class is compiled, there are two outputs: the class, and a Java annotation. I'd like to use the Java annotation in Ceylon code, to, for instance, satisfy <http://docs.oracle.com/javaee/7/api/javax/validation/ConstraintValidator.html> in Ceylon.

[2015-04-13 16:18] FroMage commented on #2121
Aw damn, right, but I guess this goes against the reasonable expectation that `CeylonAnnotation` would be a `java.lang.Annotation`… OK, so it's about the same thing as #2109 but for Ceylon annotations as well as Java annotations. It is indeed slightly different because for Ceylon annotations we can't fake it (I think) the same way we do for Java annotations and the typechecker will have to learn a

[2015-04-14 08:50] FroMage opened #2127 "Incremental compilation when compiling by module name"
The previous policy of compiling every listed file name on the command line was so that tools could do incremental compilation and tell us which files need compiling, and not adding unrequired complexity to the compiler.

Now that we accept compilation by module name, perhaps we should add incremental compilation by default in this mode, with a flag to force full compilation.

I suppose doing the

[2015-04-14 08:56] tombentley commented on #2121
This is indeed not really a dupe of #2109.

While using a static member interface would be tidier and nicer when interacting with the Ceylon annotation *from Java* it doesn't actually help us with this problem, which requires a way to denote the annotation type which *by design* isn't exposed to Ceylon code.

I can't think of a way of making this work with any kind of sane interop. Literally the o

[2015-04-14 09:54] quintesse commented on #2127
Btw, we could perhaps store SHA1s for the source files in the mapping.txt, that would give us a lot more to work with than just file dates.
This doesn't fix the dependency issue which I still think this is the job of a build tool, but for the cases where we could do something like `ceylon compile *`(for example the SDK) we could at least figure it out for all the dependencies between the modules w

[2015-04-14 11:01] tombentley commented on #2122
The problem here is that the Ceylon typechecker has strict rules about the types of attributes used in a Ceylon annotation class, and `java.lang.Class` isn't one of those types. Declaration references (including `ClassOrInterfaceDeclaration`) are encoded as `String`s. I suppose we could change that so that if the type of an attribute of an annotation class was precisely `ClassOrInterfaceDeclaratio

[2015-04-14 15:27] FroMage commented on #2121
Well, we could let you access it the same way we let you access the Java annotation type, no?

[2015-04-14 15:28] FroMage commented on #2122
Don't we already have a special case to be able to produce a `Class<?>` in Java annotations?

[2015-04-14 15:40] tombentley commented on #2122
Yes, but this is about *declaring* an annotation type with a `j.l.Class` typed parameter, not using one. The typechecker doesn't know anything about `j.l.Class`, but it has to know about the valid annotation constructor types.

[2015-04-14 15:44] FroMage commented on #2122
Ah, OK. Well yes, then it requires support from the typechecker then.

[2015-04-14 15:48] tombentley commented on #2122
Well not really, assuming the solution I outlined above is satisfactory.

I have the declaration (as opp. model) part of it working locally, but I've not pushed it because it would definitely break compatibility with 1.1.

[2015-04-14 23:28] gavinking opened #2128 "handle overflow of characters with ++ and --"
Right now, the `++` and `--` operators will happily increment a `Character` outside of the range `0..#10FFFF` of legal unicode codepoints. I think we shouldn't let that happen. Either:

1. we should throw an `OverflowException`, or
2. we should wrap around like what happens with `Integer`s.

This is a backend issue because `++` and `--` are optimized to Java operators on `int`s.

[2015-04-15 09:11] tombentley commented on #2121
Well, sure we could give it a denotable name and you could import it and use it, I suppose. But:

* There's no name you could give it that might not clash with a *real* declaration (unless we made it a static member, but that's a whole other can of worms which I'm sure @gavinking doesn't want)
* It would be a declaration that was never explicitly declared, which is a little weird
* it's relationsh

[2015-04-15 09:16] gavinking commented on #2121
Call it `_Annotation` and reference it as `\I_Annotation`? ;-)

[2015-04-15 09:30] tombentley commented on #2121
Well fine I can do that. But it will break compatibility with 1.1. Are we still trying to keep compatibility?

[2015-04-15 09:31] gavinking commented on #2121
So I now agree that this is a shit problem. To solve this, `java.lang.annotation.Annotation` must _necessarily_ leak into the Ceylon view of the compiled Ceylon module. That's awful.

[2015-04-15 11:38] gavinking commented on #2121
It seems to me that, whatever the solution to this issue is, it's not for 1.2.

[2015-04-15 12:35] gavinking opened #2129 "optimize "x in min..max" for ranges of integers and characters"
The expression `x in min..max` should produce exactly the same Java as `min <= x <= max`, as long as `x`, `min`, and `max` are all of type `Integer`.

[2015-04-15 12:37] tombentley commented on #2129
Except the span might be descending, so we'll have to use a `let` an evaluate with the endpoints reversed too.

[2015-04-15 12:37] gavinking commented on #2129
@tombentley Ah yes, very good point, I missing that.

[2015-04-15 12:39] gavinking commented on #2129
P.S. Oh and the same optimization is needed for measures: `x in min:size` means `x <= min < min+size`.

[2015-04-15 12:47] gavinking commented on #2129
Oh and the optimization also makes sense for `Character`.

[2015-04-15 12:47] quintesse commented on #2129
Wouldn't this kind of optimization be perfect for something that could be applied to the tree itself?
Hard-coding this at the level of the code generator just seems to low-level and in this case the JVM and JS backends could most likely share the optimizations.

[2015-04-15 12:47] tombentley commented on #2129
What ought to happen when `min+size` overflows?

[2015-04-15 12:48] gavinking commented on #2129
How many times do I have to explain that we have an IDE and messing with the tree is something _we therefore never do_.

[2015-04-15 12:52] gavinking commented on #2129
`OverflowException`. Use `Integer.neighbour()` to do the addition.

[2015-04-15 12:52] quintesse commented on #2129
No, I was actually referring to creating a *new* tree, but we'd still be stuck with how to display any errors. There's need to be some way to map them back to the original tree. (And no of course I'm not suggesting we'd have 2 complete copies, they'd need to share structures)

And really, **everybody** does optimizations that way. Forcing us to always hard-code this into our low-level code generat

[2015-04-15 13:19] jvasileff opened #2130 "Optimized for loop & overflow"
Neither of these produce output:

[code]
[code]

This relates to ceylon/ceylon.language/issues/656.

[2015-04-15 13:59] gavinking commented on #2129
@quintesse "everybody" does it that way because they don't have IDEs, and because they generate bytecode or machine code _directly from their AST_. We already have a separate transformation step which transforms to a different (Java) AST. And it's better to do it there where we can take advantage of optimizations which simply can't be done at the level of Ceylon->Ceylon transformation.